<template>
  <div>
        <div id="formatting">
            <button @click="format('bold')"><i class="material-icons">&#xE238;</i></button>
            <button @click="format('italic')"><i class="material-icons">&#xE23F;</i></button>
            <button @click="format('underline')"><i class="material-icons">&#xE249;</i></button>
            <button @click="format('insertunorderedlist')"><i class="material-icons">&#xE241;</i></button>
            <button @click="format('insertorderedlist')"><i class="material-icons">&#xE242;</i></button>
            <button @click="show"><i class="material-icons">&#xE163;</i></button>

            <div id="selects">
              <select ref="FontName" @change="formatMore('FontName')">
                  <option value="0">Change Font</option>
                  <template v-for="(font, index) in fontNames">
                      <option :value="font" :key="index">{{ font }}</option>
                  </template>
              </select>
              <select ref="FontSize" @change="formatMore('FontSize')">
                  <option value="0">Font Size</option>
                  <template v-for="(size, index) in fontUnit">
                      <option :value="size" :key="index">{{ size }}</option>
                  </template>
              </select>
            </div>
            <div class="hue">
                <input type="range" min="1" max="300" value="130" @change="slider" ref="slider">
            </div>
        </div>
        <textarea  style="display:none;font-family:Courier" name="myTextArea" id="myTextArea" cols="30" rows="10"></textarea> 
        <iframe frameborder="1" name="richTextField" id="richTextField" ref="richTextField"
        style="height:300px"
        ></iframe> 
  </div>
</template>
<script>
import wys from '../../functions/wysiwyg'
export default {
  data() {
      return {
          el: '', // id of iframe to be passed as argument 
          fontNames: wys.fontNames,
          fontUnit: wys.fontUnit          
      }
  },
    mounted() {
        this.el = this.$refs.richTextField.name
        setTimeout( () => { this.setEditable() }, 1000);
    },
  methods: {
    show() {
      //   wys.showForm()/
          this.content = wys.showForm(this.el)
        // console.log(this.$refs.richTextFields.name);
      },
      forIE() {
        // this.$refs.forIE.style.display = "block";
        let el = this.$refs.forIE.id
        document.getElementById(el).contentDocument.body.style.display = "block";
      },
      format(att) {
        wys.formatBasic(this.$refs.richTextField.name, att)
      },
      formatMore(att) {
        // let item = opt == 'font' ? 'FontName' : 'FontSize' 
        var ele = this.$refs[att]
        var myFont = ele.options[ele.selectedIndex].value          
        wys.formatMore(this.el, att, myFont)
        ele.value = 0;
      },
      
      slider() {
          let slider = this.$refs.slider.value
          let color = wys.hslToHex(slider, 100, 50)
          wys.setColor(this.el, color)
      },
      setEditable() {
          wys.editableFrame(this.el)
      }  
    }
}
</script>
<style lang="scss" scoped>
.input {
    display: block;
    input {
        width: 100px;
        text-align: center;
    }
}
.chloie {
    color: purple
}
#dice {
    padding-left: 10px;
}
iframe {
    display: block;
    border: 1px #ccc solid;
    width: 90%; margin: 0 auto;
    border-radius: 7px;
    // background-color: hsl(1, 100%, 55%)
}

button, input {
    outline: none
}
.hide {
    cursor: not-allowed;
    color: grey;
}

#formatting {
  // height: 50px;
  // outline: 1px solid;
  // vertical-align: middle;
  #selects {
    display: inline-block;
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
  }
    select {
        border: 1px solid #999;
        border-radius: 7px;
        padding: 0px 10px;
        background-color:#ddd;
        // margin: 0 150px;
        // margin-top: 15px;
        // display: inline-block;
    }
    button {
        // border: 1px solid #ddd;
        // padding: 3px 15px;
        padding: 0;
        margin-top: 15px;
        color: #000;
        // border-radius: 7px;
        font-size: 1em;
    }
    i:hover {
      cursor: pointer
    }
    width: 90%;
    margin: 10px auto;
}
.hue {
    width: 50%;
    margin: 0 auto;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    border-radius: 3px;
    border-style: solid;
    border-width: thin;
    input {
        width: 100%;
        padding: 0;
    }
}
#forIE {
  display: none;
}
</style>
