<template>

  <div id="personal">
    <table>
      <tr>
        <td>home</td><td>Herne Bay, Kent</td>
      </tr>
      <tr>
        <td>phone</td><td>01227 744585</td>
      </tr>
      <tr>
        <td>email</td><td>post@nazs.net</td>
      </tr>
      <!-- <tr>
        <td>driving licence</td><td>Full UK</td>
      </tr> -->
    </table>
  </div>
</template>

<script>

export default {
  name: "",
  data: () => ({

  })
}
</script>
<style lang="scss" scoped>
table {
  width: 100%;
  margin: 0;
  tr {
    :first-child {
      text-align: right;
      padding-right: 20px;
    }
    td {
      width: 50%;
    }
  }
}
// #personal {
//   @media only screen and (max-width: 799px) {
//     background-color: #ddd;
//   }
//   @media only screen and (min-width: 800px) {
//     padding-bottom: 20px;
//     margin-bottom: 10px;
//   }
//
// }
</style>
