<template>
  <div>
<!-- &#x2295; &#x2296; &#x2212; &#x2b; -->


    <div class="cart">
      <h4>Cart Contents</h4>
      <h5>Current bill: {{ this.$store.state.active }}
      <!-- <span style="margin-left: 20px;">Table :
        <form><select class="form-control cart" v-model="mytable" @change="assignTable(mytable)">
          <option value="0">Select one</option>
        <option v-for="t in unAssignedTables" :value="t">{{t}}</option>
      </select></form></span> -->

        <!-- <select class="form-control" v-model="bill.table" @change="enableButton(bill.table)">
          <option value="0" >Select table</option>
          <option v-for="n in unAssignedTables" :value="n">{{n}}</option>
        </select> -->
        <span style="margin-left:20px">
          <template v-if="this.$store.state.currTable">
            <span > Table: {{ this.$store.state.currTable}}
            </span>
            <v-btn round  class="" style="cursor:pointer;margin-left:20px" @click="showDialog">Change table</v-btn>
          </template>
          <template v-else>
            <v-btn round  class="" style="cursor:pointer" @click="showDialog">Assign a table</v-btn>
          </template>
        </span>
      </h5>
      <!-- <a disable class="closeBill" href="" @click.prevent="">
        <i v-if="" class="closeBill">&#x27A0; <span>Close bill (disabled)</span></i></a> -->

      <div>
        <table>
          <template  v-for="item in this.$store.state.activeCart">
            <tr>
            <td colspan="4">
              [{{ item.qty }}]  {{ item.item }}

            <!-- </tr>
            <tr> -->
            <div>{{item.qty}} x
            <!-- <template v-if="this.$store.state.total > 0">
            </template -->
            {{item.price | twoPlaces}}


              <!-- <template v-if="this.$store.state.total > 0">
              </template> -->
              = &pound; {{ item.qty*item.price | twoPlaces}}
            </div>


            <!-- &#x21e9; &#x21e7;  &#x2295; &#x2296; &#x271A; &#x268A; -->
            <div class="change">
              <i @click="add(item.id)">&#x271A;</i>
              <i @click="minus(item.id)">&#x268A;</i>
              </div>
            </td>

            <td class="del"> <i @click="del(item.id)">&#x2716;</i></td>

          </tr>
          </template>
          <tr>
            <td colspan="6">
              <!-- <template v-if="this.$store.state.total > 0">
              </template> -->
              &pound; {{ this.$store.state.total | twoPlaces }}
            </td>
          </tr>
        </table>
      </div>
        <div class="modal2" v-if="this.$store.state.dialog" @click="" >
          <div class="modalc animated fadeIn">
            <app-table></app-table>
          </div>
        </div>
<!-- {{this.$store.state.pairs}} <br ><br>
{{this.$store.state.activeCart}} -->
<!-- {{this.$store.state.currTable}} -->
    </div>
  </div>
</template>

<script>

import {mapActions} from 'vuex';
import {mapGetters} from 'vuex';
import table from './table.vue';
export default {
  data () {
    return {
        title: 'This is the starting page',
        menus: this.$store.state.menus,
        // cart: this.$store.state.cart,
        showLog: false,
        total: '',
        mytable: 0,
        dialog: this.$store.state.dialog


    }
  },
  components: {
    'app-table': table
  },
  methods: {
    showDialog() {
      this.$store.commit('showDialog'); // hiding is done from table.vue
    },
    assignTable(n) {
      console.log('you selected table : ' + n);
      // this.$store.state.tableNumber = n;
      // this.$store.commit('tempTableNumber', n);
      this.$store.commit('assignTable', n);
      // this.$store.commit('checkTableAssignment');
      // this.table = 0;
      // this.$store.commit('enableTableButton', false);
      // console.log(this.$store.state.activeCart.length);
      // this.$store.commit('assignTable', n);
      // this.table = 0;
      // console.log(this.$store.state.tableNumber);
      // console.log(n);
    },
    current(n) {
      var t = this.$store.state;
      this.$store.commit('setActive');
      this.$store.commit('setCustomers');
      this.$store.commit('updateActive');
      this.$store.commit('addAll');
      this.displayCart();
    },
    add(n) {
      this.$store.commit('add', n);
      this.$store.commit('updateActive');
      this.$store.commit('addAll');
      this.displayCart();
    },
    minus(n) {
      this.$store.commit('minus', n);
      this.$store.commit('updateActive');
      this.$store.commit('addAll');
      this.displayCart();
    },
    del(n) {
      console.log(n);
      this.$store.commit('del', n);
      this.$store.commit('updateActive');
      this.$store.commit('addAll');
      this.displayCart();
    },
    displayCart() {
      this.$store.commit('displayCart');
    },
    sample() {
      alert('disabled during sample');
    },
    closeBill() {
      var t = this.$store.state;
      if(this.$store.state.activeCart.length > 0 ) {
        this.$store.commit('setOrderIdB4Submit');
        this.$http.post(t.url + 'closeBill', t.activeCart).then(function(data){
          console.log(t.activeCart);
          console.log(data.body);
          if(data.body == 'Submitted.') {
            // clear content of curent order
            this.$store.commit('restoreTable');
            this.$store.commit('sortTables');
            this.$store.commit('resetCurrTable');
            this.$store.commit('removeSubmittedCart');
          }
        });
      }
    }


  },
  computed: {
    ...mapGetters([
      'unAssignedTables'
    ])
  },

  created() {
    this.displayCart();
    console.log(this.$store.state.allCarts);
    

    // window.document.body.onscroll = function() {
    // console.log(123);
    // }

  }
}
</script>

<style lang="scss" scoped>
@import "../../style";

h5 {
  font-size: 1.1em;
}
h4 {
  font-size: 1.3em;
}
table {
  // background: lighten(#999, 35);
  tr {
    vertical-align: top;
    &:nth-child(odd) {
      // background: lighten(#999, 29);
    }
  }

  border: 1px solid lightblue;
  .change {
    letter-spacing: 8px;
    font-size: 1.5em;

    i {
      &:active, &:focus, &:hover {
        color: blue;
      }
    }
  }
  .price {
    font-family: monospace;
  }
  .del {
    color: maroon;
    font-weight: bold;
    font-size: 1.5em;
    &:active, &:focus, &:hover {
      color: red;
    }
  }

  i {
    font-style: normal;
    font-size: 1.5em;
    cursor: pointer;
  }
}
i.closeBill {
  font-style: normal;
  font-size: 2.5em;
  float: right;
  margin-top: -50px;
  color: darkred;
  &:active, &:focus, &:hover {
    color: red;
  }
  span {
    font-size: 0.5em;
  }
}
form {
  background: none;
  display: inline;
  select.cart {
    display: inline;
    width: 100px;
  }
}

</style>
