<template>
  <div>

    <form class="form-horizontal" v-if="error">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Table no</label>

        <div class="col-sm-8" v-if="error">
          <select class="form-control" v-model="bill.table" >
            <option value="">Select table or add later</option>
            <option v-for="n in 20" :value="n">{{n}}</option>
          </select>
        </div>
      </div>

      <!-- <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <label class="radio-inline">
            <input type="radio" name="tableNo" v-model="bill.table" @click="newCust = !newCust"
            id="inlineRadio1" value="1" checked="checked"> New customer
          </label>
          <label class="radio-inline">
            <input type="radio" name="tableNo"v-model="bill.table" @click="newCust = !newCust"
            id="inlineRadio2" value="2"> Existing
          </label>
        </div>
      </div>

      <div class="form-group" v-if="newCust">
        <label for="inputPassword3" class="col-sm-4 control-label">Customer</label>
        <div class="col-sm-8">
          <select class="form-control" name="">
            <option v-for="cust in customers" v-model="bill.cust" :value="cust.id">{{cust.name}}</option>
          </select>
        </div>
      </div>

      <div class="form-group" v-else>
        <label for="inputPassword3" class="col-sm-4 control-label">New customer</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="inputPassword3" @keyup="checkForm" placeholder="Password">
        </div>
      </div> -->

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button  type="submit" class="btn btn-default" @click.prevent="createBill">Create bill</button>
        </div>
        <!-- :class="{disable: disable}" -->
      </div>
    </form>

    <div class="bills">
      <!-- <h4>Open bills <span>(Active: {{ this.$store.state.active }}) </span></h4> -->

        <!-- <button v-for="bill in this.$store.state.allCarts"
          class="btn btn-default"
           @click="current(bill.order_id)"> {{ bill.order_id }} </button> -->

    </div>
    <!-- {{ this.$store.state.allCarts}} -->
    <!-- <p v-for="cart in this.$store.state.allCarts">
      {{ cart.order_id }}
      <template v-for="each in cart.cart">
        <p>{{ each.item}} {{ each.price }}  x {{ each.qty }}</p>

      </template>
    </p> -->

  </div>
</template>

<script>
export default {
  data() {
    return {
      error: false,
      selected: '',
    }
  },

  methods: {

    makeActive(n) {
      var t = this.$store.state;
      t.active = n;
      for(var i in t.allCarts) {
        if(t.allCarts[i].id == n) {
          t.allCarts[i].active = true;
          if(t.allCarts[i].cart) {
            console.log(t.allCarts[i].id + ' has a cart');
            for(var j in t.allCarts[i].cart) {
              for(var k in t.cart) {
                if(t.allCarts[i].cart[j].id === t.cart[k].id) {
                  t.allCarts[i].cart[j].qty = t.allCarts[i].cart[j].qty + t.cart[k].qty;
                } else {
                  t.allCarts[i].cart.push(t.cart);

                }
              }

            }
          }
          t.allCarts[i].cart = t.cart;
          this.$store.state.cart = [];
        } else {
          t.allCarts[i].active = false;
        }
      }
      // this.$store.state.cart = [];
      // console.log(typeof(this.$store.state.activeCart));
      // this.$store.state.activeCart. = n;
      // this.$store.state.activeCart[cart] = this.$store.state.cart;
      // this.$store.state.cart.push(this.$store.state.active);
      // console.log(this.$store.state.allCarts[i]);
      // console.log(this.$store.state.activeCart.cart);
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../style";

form {
  @include push--auto(70%);
  // max-width: 600px;
  text-align: left;
  background: lightblue;
  padding: 20px;
  border-radius: 7px;
  margin-top: 10px;
}
.bills {
  // outline: 1px solid;
  @include push--auto(420px);
}
</style>
