<template>
  <div>

<h5>Please fill out our form...</h5>
<form >
  <div id="form-header">
    <slot name="form-header"></slot>
  </div>
  <div id="form-fields">
    <slot name="form-fields"></slot>
  </div>
  <div id="form-control">
    <slot name="form-control"></slot>
  </div>

</form>


  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
form {
  background: lightgrey;
  margin: 20px auto;
  &:after {
    content: "\2002";
  }
}
</style>
