<template>
  <v-app>

    <div>
      <!-- <ul>
        <li>
          Click on any of the numbered buttons (bills) to start adding items to a bill.
        </li>
        <li>
          These buttons are floating bills that are not assigned to a table, eg customers sitting at the bar.
        </li>
        <li>
          A bill can be assigned to a table at orders view (cart icon).
        </li>
        <li>
          When selected, a bill number is shown next to the icon <i class="material-icons icon">receipt</i>
        </li>
      </ul> -->
      <h5>Guide</h5>
      <img src="/static/process.png" alt="process flow" usemap="#Map">

    </div>

    <div class="hints" v-if="choose">
      <ul>Choose a bill
        <li>click on the numbered buttons to choose a bill.</li>
        <li>the full version of the app will have 'create bill' enabled.</li>
      </ul>
    </div>
    <div class="hints" v-if="view">
      <ul>View Order
        <li>clicking this will display the content of current bill</li>
      </ul>
    </div>
    <div class="hints" v-if="close">
      <ul>Close Bill
        <li>this is just to close and archive the bill</li>
        <li>this option will be enabled on the full app</li>
      </ul>
    </div>
  </v-app>

</template>

<script>
export default {
  data() {
    return {
      choose: false,
      view: false,
      close: false
    }
  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>
@import "../../style";

ul {
  text-align: left;
  // color: #235E71;
  @include push--auto(90%);
  // margin-top: 40px;
  padding: 10px;
  li {
    list-style-type: circle;
    line-height: 1.5em;
  }
  // border: 1px solid red;
  @media (min-width:700px) {
  // @include breakpoint(700px) {
    @include push--auto(600px)
  }
}
h6 {
  margin-top: 20px;
}
.hints {
  position: absolute;
  // top: 50%;
  // right: 10%;
  width: 350px;
  background-color: rgba(0,0,0,.9);
  border-radius: 7px;
  color: #ccc;
  @include modalc;
}
</style>
