<template>
  <v-app>
<!-- &#x2295; &#x2296; &#x2212; &#x2b; -->
    <div class="cart"
    >
    <template v-for="bill in getOrders">
        <v-btn     v-if="bill.table == ''" class=""
          @click="current(bill.order_id)">  {{ bill.order_id }} </v-btn>

        <v-btn     v-else class=""
          @click="current(bill.order_id)"> {{ bill.order_id}} ( {{ bill.table }} )</v-btn>
    </template>

    <!-- this is required to refresh currTable after assigning a table, and to refresh allCarts after closing a bill -->
    <span style="display:none">{{this.$store.state.currTable}} {{this.$store.state.allCarts}} </span>

  </div>


</v-app>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
  data () {
    return {
        title: 'This is the starting page',
        menus: this.$store.state.menus,
        showLog: false,
        total: '',
        items: [
          {
            title: 'Click Me'
          },
          {
            title: 'Click Me 2'
          }
        ]
    }
  },
  computed: {
    ...mapGetters([
      'active',
      'getOrders'
    ])
  },
  methods: {
    current(n) {
      var t = this.$store.state;
      this.$store.commit('setActive', n);
      this.$store.commit('setCust', true);
      this.$store.commit('updateActive');
      this.$store.commit('addAll');
      this.$store.commit('displayCart');
      this.$store.commit('checkTableAssignment');
    },

    go(n) {
      this.$router.push(n);
    }

  },

  created() {

  }
}
</script>

<style lang="scss" scoped>
@import "../../style";
.cart {
  text-align: center;
  @include push--auto(95%);
}

table {
  tr {
    vertical-align: top;
  }

  background: none;
  .change {
    letter-spacing: 8px;
    font-size: 1.5em;

    i {
      &:hover {
        color: blue;
      }
    }
  }
  .price {
    font-family: monospace;
  }
  .del {
    color: maroon;
    font-weight: bold;
    font-size: 1.5em;
    &:hover {
      color: red;
    }
  }

  i {
    font-style: normal;
    font-size: 1.5em;
    cursor: pointer;
  }
}
h4 {
  span {
    font-size: 0.8em;
    font-family: monospace;
  }
}
.mini2 {
  top: 20px;
  position: sticky;
}
</style>
