<template>
  <div>

    <div class="main" id="canvas">
      <!-- {{this.$store.state.allCarts}} -->
      <h5 class="animated ">Restaurant Order Taking mobile web app</h5>
      <form v-if="showLog">
        <div class="form-group">
          <label for="">Username</label>
          <input type="text" name="" value="" class="form-control">
        </div>

        <div class="form-group">
          <label for="">Password</label>
          <input type="text" name="" value="" class="form-control">
        </div>

        <button type="button" name="button" class="btn btn-default">Login</button>

      </form>
      <div class="mini2" v-if="this.$store.state.cust">
        <i class="material-icons icon nolink">receipt</i>
        {{ this.$store.state.active}}, &nbsp;

        <!-- <select name="" id="">
        <option value="0">Select one</option>
        <option v-for="n in getTables" value="n">{{n}}</option>
      </select> -->
      <span v-if="this.$store.state.currTable"> Table: {{ this.$store.state.currTable }},</span>
      <!-- Total :
      {{ this.$store.state.cartLength}} -->
      <!-- <template v-if="this.$store.state.total != 0"> -->
        &pound; {{ this.$store.state.total | twoPlaces }}
      <!-- </template> -->
      <v-icon large v-badge="f" @click="component = 'cart'"
      class="material-icons icon ">shopping_cart</v-icon>{{this.$store.state.activeCart.length}}
    </div>
      <i class="fa fa-home" aria-hidden="true" @click="go('app-intro')"></i>
    <v-btn disabled type="submit" class="btn btn-default" @click.prevent="createBill">
      New Bill (disabled)</v-btn>

    <!-- <button type="button" class="btn btn-default" @click="go('app-bill')">Open Bills</button> -->
    <template v-if="this.$store.state.cust">

      <!-- <v-btn type="button" class="btn btn-default" @click="component = 'app-table'">&#8862 Tables</v-btn> -->
      <v-btn   class="" @click="component = 'starters'">Menu 1</v-btn>
      <v-btn class="" @click="component = 'soups'">Menu 2</v-btn>
      <v-btn class="" @click="component = 'beef'">Menu 3</v-btn>
      <v-btn class="" @click="component = 'chicken'">Menu 4</v-btn>
      <!-- <i class="fa fa-shopping-cart" aria-hidden="true" @click="component = 'cart'"></i> -->
      <!-- <v-icon large v-badge="f" @click="component = 'cart'"
      class="black--text ">shopping_cart</v-icon>{{this.$store.state.activeCart.length}} -->
      <!-- <button type="button" class="btn btn-default" @click="component = 'cart'">Cart</button> -->
    </template>
    <main>


      <div class="">
        <app-cart></app-cart>
      </div>



        <!-- <p>Mock up of restaurant ordering system</p> -->
      <component v-bind:is="component"></component>


    </main>
    </div>
  </div>
</template>

<script>
import minicart from './minicart.vue'
import cart from './cart.vue'
import starters from './starters.vue'
import beef from './beef.vue'
import chicken from './chicken.vue'
import soups from './soups.vue'
import bill from './createBill.vue'
import tables from './table.vue'
import intro from './intro.vue'
import axios from 'axios'
export default {
  components: {
    'app-cart': minicart,
    'app-table': tables,
    'cart': cart,
    'beef' : beef,
    'starters': starters,
    'chicken': chicken,
    'soups': soups,
    'app-bill': bill,
    'app-intro': intro
  },
  data () {
    return {
        val: 9,
        title: 'This is the starting page',
        menus: this.$store.state.menus,
        cart: this.$store.state.cart,
        showLog: false,
        component: 'app-intro',
        customers: this.$store.state.customers,
        // newCust: false,
        disable: false,
        error: false,
        bill: {
          table: '',
          cust:'',
          newOrder: 99
        },
        f:''


    }
  },
  computed: {
    getTables() {
      return this.$store.getters.unAssignedTables;
    }
  },
  methods: {
    test() {
      alert('hi');
    },
    go(n) {
      this.component = n;
      // console.log(n);
      // alert(n);
      // console.log(this.$refs.n);

    },
    createBill() {
      var t = this.$store.state;
      this.$http.post(t.url + 'till', this.bill).then(function(data){
        // console.log(data.body);
        // console.log(t.allCarts);
        // var newD = {"order_id": data.bodyText, "cart" : []};
        // t.allCarts.push(newD);
        this.$store.commit('createBill', data.bodyText);
      });
    },
    addToCart(...args) {
      this.$store.commit('addToCart', args);
      this.$store.commit('addAll');
    },

    checkForm() {
      // if(this.bill.table != '' && this.bill.cust != '') {
        // this.disable = (this.bill.table != 'Select One' && this.bill.cust != '') ? true : false;
    },
    newCust() {
      this.$http.post(this.$store.state.url + 'orders', this.bill).then(function(data){
        console.log(data.body);
      });
    },
    getOpenOrders() {
      var t = this.$store.state;
      axios.post(this.$store.state.url + 'till', {"status": 1})
      // this.$http.post(this.$store.state.url + 'till', {"status": 1})
        // .then( data =>  this.$store.commit('setAllCarts', data.body))
        .then(data => this.$store.commit('setAllCarts', data.data))
        // .then(data => console.log(data))
        .catch(err => console.log('Error: ', err))
        // .then(data => console.log(data))
        // t.allCarts = data.body;

        // );
        // });

        // for (var i in t.allCarts) {
        //   t.allCarts[i].cart = [];
        //   t.allCarts[i].table = '';
        //   // check if bill and table has been assigned before
        //   // as assigned in table.vue assignbBill()
        //   if(t.pairs.length >0 ) {
        //     for(var j in t.pairs) {
        //       if(t.pairs[j].order_id == t.allCarts[i].order_id) {
        //         t.allCarts[i].table = t.pairs[j].table;
        //       }
        //     }
        //   }
        // }
      // console.log(t.allCarts);
    }

  },

  created() {
    // console.log(axios);
    var t = this.$store.state;
    this.menus = this.$store.state.menus;
    axios.get(this.$store.state.url + 'customers')
    // this.$http.get(this.$store.state.url + 'customers')
    // .then(function(data){
    // fetch(this.$store.state.url + 'customers')
      // .then(data => this.$store.commit('setCustomers', data.body))
      // .then(data => console.log(data))
      .then(data => this.$store.commit('setCustomers', data.data))
      .catch(err => console.log('Error: ', err))
      // this.$store.state.customers = data.body;


    this.getOpenOrders();

  }
}
</script>

<style lang="scss" scoped>
@import "../../style";

form {
  margin-top: 20px;
}
h5 {
  // margin-bottom: -0.1em;
  font-size: 1.4em;
}
main {
  // outline: 1px solid;

}
.cart {
  // position: fixed;
  // position: sticky;
  // outline: 1px solid;
  z-index: 1;
  width: 100%;
  overflow: auto;
  height: 100%;
  right: 0;
  text-align: left;
  top:60px;

}
a {
  &:link, &:visited {

    color: #222;
    text-decoration: none;
  }
  &:hover {
    color: gray;
  }
  &:active {
    // color: red;
    background: lightgray;
  }
}
form {
  @include push--auto(70%);
  max-width: 600px;
  text-align: left;
  background: lightblue;
  padding: 30px;
  border-radius: 7px;
}
.menu {
  @include push--auto(60%);
  text-align: left;
  div {
    display: block;
  }
  span {
    display: inline-block;
    // float: left;
  }
  .price, .priceLabel {
    float: right;
  }
}

i {
  font-size: 2.5em;
  vertical-align: middle;
  &:hover {
    cursor: pointer;
    color: #000;
  }
}
p {
  margin-top: 40px;
  font-size: 1em;
}
.mini2 {
  background: lighten(lightgray,10);
  top: 40px;
  // border: 1px solid red;
  // padding: 10px;
  position: sticky;
  z-index: 100;
  border-radius: 10px;
  border: 1px solid #ccc ;
}


</style>
