<template>
  <v-app>
    <app-table>
      <caption slot="caption">Menu 2</caption>
      <tr v-for="start in menus" slot="tableRows">
        <td><a href="#" @click.prevent="addToCart(start.id,start.item,start.price)">{{ start.item }}</a></td>
        <td class="price">&pound; {{ start.price | twoPlaces }}</td>
      </tr>
    </app-table>
  </v-app>
</template>

<script>
import table from './tableHelper.vue';
export default {
  components: {
    'app-table': table
  },
  data () {
    return {
        title: 'This is the starting page',
        menus: this.$store.state.soups,
        cart: this.$store.state.cart,
        showLog: false

    }
  },
  methods: {
    addToCart(...args) {
      this.$store.dispatch('addToCart', args);
      this.$store.dispatch('addAll');
      this.$store.commit('updateActive');
      this.$store.commit('displayCart');
    },

    scroll() {
      alert('you scrolled');
    }

  },

  created() {
    // this.menus = this.$store.state.soups;
    // this.cart = this.s
    window.onscroll = function() {
      // alert('test');
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../style";

main {
  // outline: 1px solid;

}
.cart {
  // position: fixed;
  // position: sticky;
  // outline: 1px solid;
  z-index: 1;
  width: 100%;
  overflow: auto;
  height: 100%;
  right: 0;
  text-align: left;
  top:60px;

}
a {
  &:link, &:visited {

    color: #222;
    text-decoration: none;
  }
  &:hover {
    color: gray;
  }
  &:active {
    // color: red;
    background: lightgray;
  }
}
form {
  @include push--auto(70%);
  max-width: 600px;
  text-align: left;
  background: lightblue;
  padding: 30px;
  border-radius: 7px;
}
.menu {
  @include push--auto(60%);
  text-align: left;
  div {
    display: block;
  }
  span {
    display: inline-block;
    // float: left;
  }
  .price, .priceLabel {
    float: right;
  }
}
</style>
