<template>
  <v-app>
    <app-table>
      <caption slot="caption">Menu 1</caption>
      <tr v-for="start in menus" slot="tableRows">
        <td><a href="#" @click.prevent="addToCart(start.id,start.item,start.price)">{{ start.item }}</a></td>
        <td class="price">&pound; {{ start.price | twoPlaces }}</td>
      </tr>
    </app-table>
  </v-app>
</template>

<script>
import table from './tableHelper.vue';
export default {
  components: {
    'app-table': table
  },
  data () {
    return {
        title: 'This is the starting page',
        // menus: this.$store.state.menus,
        cart: this.$store.state.cart,
        showLog: false

    }
  },
  computed:  {
    menus() {
      return this.$store.state.starters;
    }
  },
  methods: {
    orderItem(...args) {
      var order = this.$store.state.active;
      var basket = {"order_id": order, "qty": 1, "price_each": args[2], "item": args[1]};
      this.$http.post(this.$store.state.url + 'till', basket).then(function(data){
        console.log(basket);
        console.log(data.bodyText);
      });
    },
    addToCart(...args) {
      this.$store.dispatch('addToCart', args);
      this.$store.commit('updateActive');
      // this.$store.commit('addAll');
      this.$store.commit('displayCart');
      // return false;
      // console.log('from starters: ' + this.$store.state.cartLength);
      this.$store.dispatch('addAll');  
    }
  },

  created() {


  }
}
</script>

<style lang="scss" scoped>
@import "../../style";

main {
  // outline: 1px solid;

}
.cart {
  position: fixed;
  // position: sticky;
  // outline: 1px solid;
  z-index: 1;
  width: 100%;
  overflow: auto;
  height: 100%;
  right: 0;
  text-align: left;
  top:60px;

}
a {
  &:link, &:visited {

    color: #222;
    text-decoration: none;
  }
  &:active, &:focus {
    color: gray;
  }
}
form {
  @include push--auto(70%);
  max-width: 600px;
  text-align: left;
  background: lightblue;
  padding: 30px;
  border-radius: 7px;
}
.menu {
  @include push--auto(60%);
  text-align: left;
  div {
    display: block;
  }
  span {
    display: inline-block;
    // float: left;
  }
  .price, .priceLabel {
    float: right;
  }
}

</style>
