<template>
  <div class="">

    <!-- {{ this.$store.state.allTables}}<br> -->
    <!-- {{ this.$store.state.assignedTables}} <br> -->
    <!-- {{ this.$store.state.pairs}} -->
    <form class="form-horizontal">

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">
          Assign current bill {{ this.$store.state.active}} to table:
        </label>
        <div class="col-sm-8">
          <select class="form-control" v-model="bill.table" @change="enableButton(bill.table)">
            <option value="0" >Select table</option>
            <option v-for="n in tables" :value="n">{{n}}</option>
            <!-- <template v-for="n in this.$store.state.allTables"> -->
            <!-- <template v-for="n in getTables"> -->
              <!-- <option :value="n"> {{n}} </option> -->
              <!-- <template v-for="m in this.$store.state.assignedTables">
              </template> -->

            <!-- </template> -->
          </select>
        </div>
      </div>
      <template v-if="tableOnly">
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <label class="radio-inline">
              <input type="radio" name="tableNo" v-model="bill.choose" @click="chooseCust"
              id="inlineRadio1" value="1" checked="checked"> New customer
            </label>
            <label class="radio-inline">
              <input type="radio" name="tableNo"v-model="bill.choose" @click="chooseCust"
              id="inlineRadio2" value="2"> Existing
            </label>
            <label class="radio-inline">
              <input type="radio" name="tableNo"v-model="bill.choose" @click="cust = false"
              id="inlineRadio2" value="3"> Anonymous
            </label>
          </div>
        </div>

        <template v-if="cust">
          <div class="form-group" v-if="newCust">
            <label for="inputPassword3" class="col-sm-4 control-label">Customer</label>
            <div class="col-sm-8">
              <select class="form-control" name="">
                <option v-for="cust in this.$store.state.customers" v-model="bill.cust" :value="cust.id">{{cust.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-group" v-else>
            <label for="inputPassword3" class="col-sm-4 control-label">New customer</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="inputPassword3" @keyup="" placeholder="Password">
            </div>
          </div>
        </template>
      </template>

      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button :class="{disable : disabled}" type="button" class="btn btn-default" @click="assignTable">Assign</button>
          <!-- <button type="reset" name="button">Reset</button> -->
        </div>
      </div>
    </form>

    <template v-for="bill in this.$store.state.allCarts">
      <p v-if="bill.table != ''"> {{ bill.order_id}} Table: {{ bill.table }}</p>
      <p v-else> {{ bill.order_id}} </p>
    </template>

  </div>
</template>

<script>
import {mapActions} from 'vuex';
import {mapGetters} from 'vuex';
export default {
  data() {
    return {
      newCust: true,
      tableOnly: false,
      bill: {
        table: 0,
        cust: '',
        choose: ''
      }
    }
  },
  computed: {
    ...mapGetters({
      tables: 'unAssignedTables',
      disabled: 'tableButtonDisabled'
    })
    // same name getters can be mapped in an array of strings
    // ...mapGetters(['unAssignedTables', 'tableButtonDisabled'])
  },
  methods: {
    // ...mapActions([
    //
    // ])
    //
    enableButton(n) {
      this.$store.commit('enableTableButton', n);
      this.$store.commit('tempTableNumber', n)
    },
    assignTable(n) {
      this.$store.commit('assignTable', n);
      this.$store.commit('checkTableAssignment');
      this.bill.table = 0;
    },
    chooseCust() {
      this.cust = true;
      this.newCust = !this.newCust;
    }
  },
  created() {
    // console.log(this.$refs.noBill);
  }
}
</script>

<style lang="scss">
</style>
