<template>
  <v-app>

    <div>
      <table>
        <slot name="caption"></slot>
        <slot name="tableHeader"></slot>
        <slot name="tableRows"></slot>
      </table>
    </div>


</v-app>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
@import "../../style";

table {
  text-align: left;
  width: 95%;
  color: #000;
  background: lighten(#999, 35);
  margin: 20px auto;
  // border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  // border-bottom-left-radius: 10px;
  // border-bottom-right-radius: 10px;
  border: 0px solid #999;
  a:link, a:visited {
    color: #333;
  }
  a:hover, a:active, a:focus {
    color: #fff;
    background-color: #666;
  }
  caption {
    color: inherit;
    font-size: 1em;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-left: 10px
  }
  tr {
    &:nth-child(odd) {
      background: lighten(#999, 31);
      // color: red;
    }

  td {
      padding: 15px 10px;
      .price {
        width: 200px;
        color: red;
      }
    }
  }


  &:after {
    // content: "\2002 test";
  }
  @media (min-width:650px) {
    @include push--auto(600px);
  }
}
</style>
