<template>
  <v-app>

    <form class="form-horizontal">

      <!-- <option v-for="n in this.$store.state.allTables" :value="n">{{n}}</option> -->
      <div class="form-group">
        <i class="fa fa-window-close-o" @click="hideDialog"></i>
        <label for="inputEmail3" class="col-sm-8 control-label">
          Assign current bill {{ this.$store.state.active}} to table:
        </label>
        <!-- <div class="col-sm-16"> -->
          <!-- <select class="form-control" v-model="bill.table" @change="enableButton(bill.table)"> -->
          <select class="form-control" v-model="bill.table" @change="assignTable(bill.table)">
            <option value="0" >Select table</option>
            <option v-for="n in unAssignedTables" :value="n">{{n}}</option>
          </select>
        <!-- </div> -->

      </div>

      <div class="form-group">
        <div class="col-sm-offset-6 col-sm-16">
          <!-- <button :class="{disable : this.$store.state.tableButtonDisabled}" type="button" class="btn btn-default"
          @click="assignTable">Assign</button> -->
        </div>
      </div>
    </form>

  </v-app>
</template>

<script>
import {mapActions} from 'vuex';
import {mapGetters} from 'vuex';
export default {
  data() {
    return {
      newCust: true,
      tableOnly: false,
      e1: null,
      items: [
        { text: 'State 1' },
        { text: 'State 2' },
        { text: 'State 3' },
        { text: 'State 4' },
        { text: 'State 5' },
        { text: 'State 6' },
        { text: 'State 7' }
      ],
      bill: {
        table: 0,
        cust: '',
        choose: ''
      },
      dialog: this.$store.state.dialog
    }
  },
  components: {

  },
  computed: {
    ...mapGetters([
      'unAssignedTables',
      'tableButtonDisabled'
    ])
    // freeTables: 'unAssignedTables',
    // disabled: 'tableButtonDisabled'
    // same name getters can be mapped in an array of strings
    // ...mapGetters(['unAssignedTables', 'tableButtonDisabled'])
  },
  methods: {
    // ...mapActions([
    //
    // ])
    //
    hideDialog() {
      this.$store.commit('hideDialog');
    },
    enableButton(n) {
      this.$store.commit('enableTableButton', n);
      this.$store.commit('tempTableNumber', n);
      // fff
    },
    assignTableAuto(n) {
      var t = this.$store.state;
      console.log(n);
      this.$store.commit('tempTableNumber', n);
      console.log('table '+t.tableNumber);
      console.log(t.active);
      // console.log('length : ' + t.activeCart.length);
      this.$store.commit('assignTable');
      // this.$store.commit('checkTableAssignment');
      // this.$store.commit('enableTableButton', false);
    },
    assignTable(n) {
      this.$store.commit('tempTableNumber', n);
      this.$store.commit('assignTable');
      this.$store.commit('checkTableAssignment');
      this.bill.table = 0;
      // this.$store.commit('enableTableButton', false);
    },
    chooseCust() {
      this.cust = true;
      this.newCust = !this.newCust;
    },
    getRef() {
      console.log(this.$refs.test.innerHTML);
    }
  },
  created() {
  }
}
</script>

<style lang="scss" scoped>
#app {
  background: none;
}
.order {
  height: 50px;
  width: 50px;
  outline: 1px solid;
  background: gray;
  color: blue;


}
form {
  width: 400px;
}
i {

  color: #666;
  font-size: 2em;
  cursor: pointer;
  float: right;
  margin-right: 40px;
  &:hover {
    color:#000;
  }
}
select {
  width: 100px;
}
</style>
