<template>
  <div>
    <aside>
      <img src="http://via.placeholder.com/150x150" alt="">
      <img src="http://via.placeholder.com/150x150" alt="">
      <img src="http://via.placeholder.com/150x150" alt="">
      <img src="http://via.placeholder.com/150x150" alt="">
      <img src="http://via.placeholder.com/150x150" alt="">
    </aside>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
