<template>
  <!-- <v-app> -->
    <div>

    
    <h4>Trip down CCNA lane...</h4>
  <!-- <input class="form-control" type="text" v-model="search" value="search"> -->
  <!-- <ul>
    <li v-for="data in filteredData"> {{ data.item }}
      <br>{{ data.category}}
      <br>{{ data.price}}
    </li>
  </ul> -->
  <!-- {{ this.$store.state.starters }} -->
    <ul>
      <li v-for="(v, k) in protocols">
          {{ k }}
        <ul>
          <li v-for="v2, k2 in v">
              {{ k2 }}
            <ul>
              <template v-for="v3, k3 in v2">
              <li v-if="k2 == 'config'" class="code">
                {{ v3 }}
              </li>
              <li v-else-if="k2 == 'naz'" class="naz">
                {{ v3 }}
              </li>
              <li v-else class="codes">
                {{ v3 }}
              </li>
              </template>
            </ul>
          </li>
        </ul>
      </li>
    </ul>

    </div>
  <!-- </v-app> -->

</template>

<script>
// import starters from './mainData.vue'

export default {
  components: {
    // 'show-starters': starters
  },
  data () {
    return {
        // items: items
        title: 'This is Main',
        protocols: [],
        search: ''
    }
  },
  computed: {
    filteredData() {
      return this.protocols.filter((protocol) => {
        // return protocol.category.toLowerCase().match(this.search.toLowerCase()); //|| return protocol.item.toLowerCase().match(this.search.toLowerCase());;
        return protocol.functions.toLowerCase().match(this.search.toLowerCase());
        // return protocol.price.match(this.search);
      });
    }
  },
  methods: {

  },

  created() {
  // created() {

    this.$http.get('https://nazs.net/GNS3/cisco_all.json').then(function(data){
      this.protocols = data.body;
      console.log(data.body);
    });
    console.log(clear())
  }
}
</script>

<style lang="scss" scoped>
@import "../style.scss";
div {
  // background-color: #000;
    // background: url('/static/nazs-sm.svg') no-repeat ;
  @media (min-width: 700px) {
    max-width: 700px;
    margin: 0 auto;
  }
  @media (min-width: 850px) {
    ul {
      max-width: 700px;
      margin: 0 auto;
    }
    // background-color: #000;
    max-width: 100%;
  }
  @media (min-width: 902px) {
  }
}
.code {
  font-family: monospace;
  font-size: 1.3em;
}
.naz {
  font-family: 'courier';
  font-size: 1.1em;
  color: lighten(blue, 20);
}
ul {
  // margin-top: 20px;
  margin-left: 20px;
  li {
    // margin: 0 auto 20px;
    font-weight: bold;
    font-size: 0.95em;
    // border: 1px solid $banner;
    background: #fff;
    border-radius: 15px;
    // width: 90%;
    // padding: 10px;

    ul {
      margin: 10px;
      border: 0px solid #999;
      li {
        padding: 0px;
        margin-bottom: 0px;
        border: 0px solid #999;
        // margin-left: 40px;
        font-weight: normal;
        ul{
          border: 0px solid #999;

        li {
          list-style-type: square;
          // margin-left: 40px;
        }
      }
    }

    }
  }
  text-align: left;
  color: $banner;
  // display: inline-block;
  // margin: 0 10px;
}

a {
  color: #42b983;
}

ul {
  display: flex;
  flex-direction: column;
}
</style>
