<template>
  <div>
    <p>{{ menus.soups }}</p>
    <p>{{ menus.starters }}</p>
    <p>{{ menus.rices }}</p>
  </div>

</template>

<script>

export default {
  components: {
  },
  data() {
    return {
      menus : {
        starters: [],
        soups: [],
        chicken2: [],
        porks: [],
        beefs: [],
        seafoods: [],
        currys: [],
        salads:[],
        vegetables: [],
        rices: [],
        noodles: []
      }
    }
  },
  methods: {

  },
  created() {
  //   for(var menu in menus) {
  //     this.$http.get('http://localhost:80/bo_pav/' + menu).then(function(data){
  //       this.menu = data.body;
  //   }
  // };
    // this.$http.get('https://ban-pav.firebaseio.com').then(function(data){
    // this.$http.get('https://jsonplaceholder.typicode.com/posts').then(function(data){

    // this.starters = data.body.slice(0,10);
    // remote DB
    this.$http.get('https://bangkokpavilion.co.uk/starters').then(function(data){
      this.menus.starters = data.body;
    });
    this.$http.get('https://bangkokpavilion.co.uk/soups').then(function(data){
      this.menus.soups = data.body;
    });
    this.$http.get('https://bangkokpavilion.co.uk/chicken').then(function(data){
      this.menus.chicken2 = data.body;
    });
    this.$http.get('https://bangkokpavilion.co.uk/pork').then(function(data){
      this.menus.porks = data.body;
    });
    this.$http.get('https://bangkokpavilion.co.uk/beef').then(function(data){
      this.menus.beefs = data.body;
    });
    this.$http.get('https://bangkokpavilion.co.uk/seafood').then(function(data){
      this.menus.seafoods = data.body;
    });
    this.$http.get('https://bangkokpavilion.co.uk/curry').then(function(data){
      this.menus.currys = data.body;
    });
    this.$http.get('https://bangkokpavilion.co.uk/salad').then(function(data){
      this.menus.salads = data.body;
    });
    this.$http.get('https://bangkokpavilion.co.uk/vegetables').then(function(data){
      this.menus.vegetables = data.body;
    });
    this.$http.get('https://bangkokpavilion.co.uk/rice').then(function(data){
      this.menus.rices = data.body;
    });
    this.$http.get('https://bangkokpavilion.co.uk/noodles').then(function(data){
      this.menus.noodles = data.body;
    });

    // local DB
    // this.$http.get('http://localhost:80/bo_pav/starters').then(function(data){
    //   this.menus.starters = data.body;
    // });
    // this.$http.get('http://localhost/bo_pav/soups').then(function(data){
    //   this.menus.soups = data.body;
    // });
    // this.$http.get('http://localhost:80/bo_pav/chicken').then(function(data){
    //   this.menus.chicken2 = data.body;
    // });
    // this.$http.get('http://localhost:80/bo_pav/pork').then(function(data){
    //   this.menus.porks = data.body;
    // });
    // this.$http.get('http://localhost:80/bo_pav/beef').then(function(data){
    //   this.menus.beefs = data.body;
    // });
    // this.$http.get('http://localhost:80/bo_pav/seafood').then(function(data){
    //   this.menus.seafoods = data.body;
    // });
    // this.$http.get('http://localhost:80/bo_pav/curry').then(function(data){
    //   this.menus.currys = data.body;
    // });
    // this.$http.get('http://localhost:80/bo_pav/salad').then(function(data){
    //   this.menus.salads = data.body;
    // });
    // this.$http.get('http://localhost:80/bo_pav/vegetables').then(function(data){
    //   this.menus.vegetables = data.body;
    // });
    // this.$http.get('http://localhost:80/bo_pav/rice').then(function(data){
    //   this.menus.rices = data.body;
    // });
    // this.$http.get('http://localhost:80/bo_pav/noodles').then(function(data){
    //   this.menus.noodles = data.body;
    // });
  }
}
// https://jsonplaceholder.typicode.com
</script>

<style lang="css" scoped>
table {
  margin-bottom: 10px;

  tr {
    vertical-align: top;
    td {
      padding: 0 15px;
    }
  }
}
#show-starters {
  text-align: left;
}
.pound {
  width: 60px;
  padding: 0 5px;
  text-align: right;
}
</style>
