<template>
  <div>
      <div id="edit">
        <router-link style="float: right" to="/myJournal">back</router-link>
        <div class="formatting">
            <button @click.prevent="format('richTextField', 'bold')"><i class="material-icons">&#xE238;</i></button>
            <button @click.prevent="format('richTextField', 'italic')"><i class="material-icons">&#xE23F;</i></button>
            <button @click.prevent="format('richTextField', 'underline')"><i class="material-icons">&#xE249;</i></button>
            <button @click.prevent="format('richTextField', 'insertunorderedlist')"><i class="material-icons">&#xE241;</i></button>
            <button @click.prevent="format('richTextField', 'insertorderedlist')"><i class="material-icons">&#xE242;</i></button>
            <!-- <button @click="show"><i class="material-icons">&#xE163;</i></button> -->
            <button @click.prevent="format('richTextField', 'foreColor')"><i class="material-icons">&#xE167;</i></button>
            <div class="selects">
              <select ref="FontName" @change="formatMore('FontName','richTextField', 'FontName')">
                  <option value="0">Change Font</option>
                  <template v-for="(font, index) in fontNames">
                      <option :value="font" :key="index">{{ font }}</option>
                  </template>
              </select>
              <select ref="FontSize" @change="formatMore('FontSize','richTextField', 'FontSize')">
                  <option value="0">Font Size</option>
                  <template v-for="(size, index) in fontUnit">
                      <option :value="size" :key="index">{{ size }}</option>
                  </template>
              </select>
            </div>
            <div class="hue">
                <input type="range" min="1" max="300" value="130" @change="slider('richTextField', 'slider')" ref="slider">
            </div>
        </div>
        <textarea  style="display:none;font-family:Courier" name="myTextArea" id="myTextArea" cols="30" rows="5"></textarea> 
        <iframe frameborder="1" name="richTextField" id="richTextField" ref="richTextField"
        class="myFrame"
        ></iframe> 
        <button @click="submitChange">Submit</button>
      </div>

  </div>
</template>

<script>
import axios from 'axios'
import wys from '../functions/wysiwyg'
export default {
    data() {
        return {
            el: '',
            fontNames: wys.fontNames,
            fontUnit: wys.fontUnit,            
            editRecord: ''
        }
    },

    mounted() {
        this.el = this.$refs.richTextField.name  
        setTimeout( () => { this.setEditable() }, 1000);         
    },

    created() {
        console.log(this.$route.params.id);
        axios.get(this.$store.state.url + 'journal/show.php?id=' + this.$route.params.id)
        // .then(data => console.log(data.data)
        .then(data => this.editRecord = data.data)
        // setTimeout( () => window.frames['richTextField'].document.body.innerHTML = this.editRecord.comment, 500)
        // window.frames['richTextField'].document.body.innerHTML = this.editRecord.comment
        
            // setTimeout( () => window.frames['richTextField'].document.designMode = 'On', 50)
            setTimeout( () => window.frames['richTextField'].document.body.innerHTML = this.editRecord.comment, 1100)        
    },

    methods: {
      submitChange() {
        // console.log(this.editRecord.id)
        // console.log(window.frames['richTextFielda'].document.body.innerHTML)
        let change = { 
            "updateLog" : 1,
            "id" : this.editRecord.id,
            "comment" : window.frames['richTextField'].document.body.innerHTML,
            "topic" : this.editRecord.topic
        }
        axios.post(this.$store.state.url + 'journal/index.php', change)
        .then(this.$router.push('/myJournal'))
        // .then(this.refreshLog('desc'))
      },

      format(el, att) {
          wys.formatBasic(el, att)
      },
      formatMore(ref, el, att) {
          // let item = opt == 'font' ? 'FontName' : 'FontSize' 
        var ele = this.$refs[ref]
        console.log(ele)
        var myFont = ele.options[ele.selectedIndex].value          
        console.log(myFont)
        wys.formatMore(el, att, myFont)
        ele.value = 0;
      },
      
      slider(el, ref) {
          let slider = this.$refs[ref].value
          let color = wys.hslToHex(slider, 100, 50)
          wys.setColor(el, color)
      },
      setEditable() {
          wys.editableFrame(this.el)
        //   wys.editableFrame(this.el2)
      }        
    }
  
}
</script>

<style lang="scss" scoped>
@import './journal';
#edit {
    @media only screen and (min-width: 700px) {
        width: 700px;
    }
    display: block;
    margin: 10px auto;

}
</style>
