<template>
  <div>
    <nav :class="{ responsive: showMenu }">
      <ul>
          <li v-for="link in links"  >
            <router-link :to="link.link" exact><a
              v-on:click="hideMenu"

              >{{link.label}}</a></router-link>
          </li>

          <li class="icon">
            <a href="#" class="" @click="toggleMenu()">&#9776;</a>
          </li>
      </ul>
      <!-- <li class="has-children" :class="{ subClass : showSub }">
        <router-link to="" exact><a @click="toggleSub()">Samples</a></router-link>
        <ul class="samples">
          <li><router-link to="/noRobots" exact><a @click="hideMenu">No Robots</a></router-link></li>
          <li><a href="#">Sub2</a></li>
        </ul>
      </li> -->

    </nav>
  </div>
</template>

<script>
import links from './links';
export default {
  data() {
    return {
      showMenu: false,
      showSub: false,
      robots: false,
      links
    }
  },
  methods: {
      noRobots() {
          this.robots = !this.robots;
      },
      hideMenu() {
        this.showMenu = false;
        this.toggleSub();
      },
      toggleMenu() {
        this.showMenu = !this.showMenu;
      },
      toggleSub() {
        this.showSub = !this.showSub;
        // console.log(this.showSub);
      },
      logOut() {
        this.$store.state.userIn = false;
        console.log('logged out here');
        this.$http.get(this.url + 'logout').then(function(data){
          console.log(data.bodyText);
        });
      }
  }
}

</script>

<style lang="scss" scoped>
// https://www.youtube.com/watch?v=a0Zz9oVGgJc
@import "../style";
// *{margin: 0; padding: 0;}
// a.router-link-exact {
//   color: red;
// }

a {
  color: #fff;
  @include transition(color .8s ease);
  &:hover {
    color: #fff;
  }
}
a.router-link-exact-active, a.router-link-exact-active li  {
  color: #fff;
  background: darken($banner, 5);
}
.has-children a {
  background: none;
}

nav {
  width: 100%;
}

nav ul {

  display: none;
  background: #444;
  flex-direction: column;

}
nav, ul, li, a, span {
  margin: 0; padding: 0;
}

nav ul li {
  list-style-type: none;
}
nav ul li a {
  padding: .5rem 1em;
  display: block;
  text-decoration: none;
}
nav ul li ul {

  // margin-left: 1px;
}
nav ul li ul li a {
  padding-top: 10px;
  // text-align: left;
}
nav ul li:hover {
  background: rgba(0,0,0, .25);

}
nav ul li.icon:hover {
  background: none;
  color: #fff;
}

@include breakpoint (max-width 590px) {
  .has-children ul li a {
    padding-left: 3rem;
  }
  .has-children ul {
    width: 100%;
    display: none;
  }
  .has-children.subClass > a {
    background: rgba(0,0,0, .25);
  }
  .has-children.subClass ul {
    display: flex;
    flex-direction: column;
  }
  nav ul {display: block}
  nav ul li:not(last-child) { display: none;}

  nav ul li.icon {
    // width: 100%;
    float: right;
    display: flex;
    font-size: 20px;
    position: absolute;
    top: 0px;
    right: 0;
    padding: 0;
  }
  nav.responsive ul {
    // position: fixed;
    width: 100%;
    // z-index: 500;
  }
  nav.responsive .icon { position: fixed; }
  nav.responsive ul li {
    // position
    display: flex;
    flex-direction: column;
  }
  nav.responsive ul li a {
    display: block;
  }
  nav ul li:hover ul {
    // display: flex;
    flex-direction: column;
  }


}

@include breakpoint (min-width 590px) {
.has-children ul li a {padding-left: 0}
nav {
  @include push--auto(960px);
  max-width: 960px;
}
  nav ul  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul li {
    position: relative;
    flex: 1 0 auto;
    text-align: center;
  }
  .has-children ul {
    width: 100%;
    position: absolute;
    display: none;
  }
  nav ul li:hover ul {
    display: flex;
    flex-direction: column;
  }
  nav li.icon {display: none}
}



// body {margin:0;}

a:link {text-decoration: none;}

.wide {
  width: 100%;
  background: #ADD8E6;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  margin-bottom: 10px;
  @include push--auto(960px);
}

.topnav a a {
  float: left;
  display: block;
  // color: #f2f2f2;
  color: $banner;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
}

.topnav a  a:hover {
  background-color: darken(lightblue, 50);
  color: #fff;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 620px) {
  .topnav  a:not(:first-child) {display: none;}
  .topnav  a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 620px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive  a {
    float: none;
    display: block;
    text-align: left;
  }
}


</style>
