<template>
  <div>
    <div class="home">
      <main>
        <h5>web-centred solutionist tracing packets</h5>
      </main>
      <aside>
        <app-post></app-post>
      </aside>
    </div>
  </div>
</template>

<script>
import post from './posts.vue'
export default {
  data() {
    return {

    }
  },
  components: {
    'app-post': post
  }
}
</script>

<style lang="scss" scope>
@import "../style";
// .home {
//   @include span(12);
//   main {
//     @include breakpoint(700px) {
//       @include span(6);
//     }
//   }
//   aside {
//     @include breakpoint(700px) {
//       @include span(6);
//     }
//   }
// }
main, aside {
  flex: 1;
}
.top {
  // display: flex;
}
.home {
    // height: 100%;
    // flex: 1;
    // margin: auto;
    // to use elements height based on their content and position themselves based on flex-end, flex-start, center
    // default is stretch
    align-items: flex-end;

  main {
    background: $green1a;
    @include lineHeight(100px, 100px);
  }
  aside {

  }
  @media (min-width:600px) {
    display: flex;
    main {


      margin: auto;
      background: none;
      p {
        // height: 500px;
        // line-height: 500px;
      }
    }
  }
}
</style>
