<template>
  <div>
      <div class="input">
        <input type="password" class="password block" @keydown="checkPwd" v-model="log.pass">
        <input type="text" v-model="searchComment" class="password">
      </div>
      <div class="journal" v-for="(one, i) in filteredComments" :key="i">
            <div v-if="allow" class="date" >
                {{ one.formattedDate }}
            <router-link :to="'/editJournal/' + one.id">{{ one.id }}</router-link>
            </div>
            <div class="comment" v-html="one.comment">
            </div>
      </div>
 
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
      return {
          allow: false, // auth ok
          edit: false,
          editValue: '',    // boolean to show popup
          editRecord: '',   // current record being edited
          pwd: '',
          journal: [],
          log : {
              topic: '',
              comment: '',
              createLog: '',
              checkAuth: 1,
              pass: '',
              find:''
          },
          passChecked: '',
          el: '', // id of iframe to be passed as argument 
          ell: '',
          searchComment: ''  ,
          xhr: ''       
      }
  },
      mounted() {
        //   console.log(this.$refs)
    //   console.log(this.$refs)
        // this.el = this.$refs.richTextField.name  
        // setTimeout( () => { this.setEditable() }, 1000);      

      },
      created() {
          this.refreshLog('asc')
        //   let url = 'http://localhost/tm470/?getMenus'
        //   let req = { url: url }
        //   xhr2.xhrGet(req)
        //   this.$store.dispatch('xhr', req)
        this.allow = this.$store.state.admin
          
      },
  components: {
    // 'upload': upload
  },
  computed: {
      filteredComments: function() {
          return this.journal.filter( result => {
              return result.comment.toLowerCase().match(this.searchComment.toLowerCase())
          });
      }
  },
  methods: {
      checkPwd() {
          axios.post(this.$store.state.url + 'auth', this.log)
          .then(data => this.passChecked = data.data)
          if(this.passChecked == 'success') {
              this.allow = true
              this.$store.commit('allowAdmin')

          } 
        //   else {
        //       this.allow = false
        //   }
        //   console.log(this.passChecked)
        //   console.log(this.log.pass);
          
        //   console.log(this.auth)
        //   if(this.log.pass == 'naz') {
        //       this.allow = true
        //       console.log(this.allow);
        //   } else {
        //       this.allow = false
        //   }
      },
      editComment(n) {
          this.edit = true
          console.log(n)
        //   console.log(n.path[0].value)
        //   this.editValue = n.path[0].value
          axios.get(this.$store.state.url + 'journal/show.php?id=' + n)
            .then(data => this.editRecord = data.data)
            // setTimeout( () => window.frames['richTextFielda'].document.designMode = 'On', 50)
            setTimeout( () => window.frames['richTextFielda'].document.body.innerHTML = this.editRecord.comment, 50)
      },
      submitChange() {
        // console.log(this.editRecord.id)
        // console.log(window.frames['richTextFielda'].document.body.innerHTML)
        let change = { 
            "updateLog" : 1,
            "id" : this.editRecord.id,
            "comment" : window.frames['richTextFielda'].document.body.innerHTML,
            "topic" : this.editRecord.topic
        }
        axios.post(this.$store.state.url + 'journal/index.php', change)
        .then(this.noEdit)
        .then(this.refreshLog('desc'))
      },
      noEdit() {
          this.edit = false
      },
      find() {
          this.refreshLog('asc')
      },
    refreshLog(order) {
        setTimeout( () => {
            axios.get(this.$store.state.url + 'journal/show.php?showAll&orderBy=' + order + '&find=' + this.log.find)
            .then(data => this.journal = data.data)
            .then(console.log(order))
            // .then(this.clearFrame())
        }, 1000)
    },
      showForm() {
          //   this.el = 'richTextField'
        // console.log(this.$refs)
        //   this.el = this.$refs.richTextField.name  
        //   setTimeout( () => { this.setEditable() }, 1000);      
      },
      submitLog() {
          this.log.comment = wys.showForm(this.el)
        axios.post(this.$store.state.url + 'journal/index.php', this.log)
        .then(data => console.log(data.data))
        .then(this.refreshLog('asc'))
         this.clearFrame()
          
      },
      clearFrame() {
          setTimeout( () => {
              this.log.topic = ''
              document.getElementById(this.el).contentDocument.body.innerHTML = ''
          }, 1000)
      },
    show() {
        //   wys.showForm()
        //   this.content = wys.showForm(this.el)
        // console.log(this.$refs.richTextFields.name);
      }
  }
     
}
</script>
<style lang="scss" scoped>
@import './journal';
</style>

