<template>
  <div>
      <div id="wys">
          <div class="input">
            <template v-if="!allow">
                <input type="password"
                v-model="log.pass" placeholder="my secret journal" class="password">
                <button @click="checkPwd">Go</button>
            </template>
            <!-- <button @click="noShow = !noShow ">Toggle</button> -->
            <template v-else>
                <i class="material-icons" @click="removeStorage">exit_to_app</i>
            </template>
            
            <i v-if="noShow" @click="noShow = !noShow " class="material-icons">check_box_outline_blank</i>
            <i v-else @click="noShow = !noShow " class="material-icons">check_box</i>
            <input type="text" v-model="searchComment" class="password">
           <!-- <button @click="refreshLog('asc')"><i class="material-icons">keyboard_arrow_up</i></button> -->
           <i v-if="orderBy" class="material-icons" @click="refreshLog('asc')">keyboard_arrow_up</i>
           <i v-else class="material-icons" @click="refreshLog('desc')">keyboard_arrow_down</i>
            <!-- <button @click="refreshLog('desc')">Desc</button>             -->
          </div>

      <form :class="{ cssHide : noShow }">
          <!-- <div class="field">
            <label for="">Topic</label>
            <input type="text" v-model="log.topic"  ref="myTopic">
          </div> -->
        <div class="formatting">
            <button @click.prevent="format('richTextField', 'bold')"><i class="material-icons">&#xE238;</i></button>
            <button @click.prevent="format('richTextField', 'italic')"><i class="material-icons">&#xE23F;</i></button>
            <button @click.prevent="format('richTextField', 'underline')"><i class="material-icons">&#xE249;</i></button>
            <button @click.prevent="format('richTextField', 'insertunorderedlist')"><i class="material-icons">&#xE241;</i></button>
            <button @click.prevent="format('richTextField', 'insertorderedlist')"><i class="material-icons">&#xE242;</i></button>
            <!-- <button @click="show"><i class="material-icons">&#xE163;</i></button>
            <button @click.prevent="format('richTextField', 'foreColor')"><i class="material-icons">&#xE167;</i></button> -->
            <div class="selects">
              <select ref="FontName" @change="formatMore('FontName','richTextField', 'FontName')">
                  <option value="0">Change Font</option>
                  <template v-for="(font, index) in fontNames">
                      <option :value="font.name" class="fonts" :key="index" :class="font.key">{{ font.name }}</option>
                  </template>
              </select>
              <select ref="FontSize" @change="formatMore('FontSize','richTextField', 'FontSize')">
                  <option value="0">Font Size</option>
                  <template v-for="(size, index) in fontUnit">
                      <option :value="size.name" class="fonts" :key="index" :class="size.key">{{ size.name }}</option>
                  </template>
              </select>
            </div>
            <!-- <div class="hue">
                <input type="range" min="1" max="300" value="130" @change="slider('richTextField', 'slider')" ref="slider">
            </div> -->
        </div>
        <textarea  style="display:none;font-family:Courier" name="myTextArea" id="myTextArea" cols="30" rows="5"></textarea> 
        <iframe frameborder="1" name="richTextField" id="richTextField" ref="richTextField"
        class="myFrame"
        ></iframe> 


            <template v-if="allow">
                
                <v-btn @click="submitLog">Submit</v-btn>
            </template>
          <!-- <div class="field">
            <label for="Comment">Comment</label>
            <textarea name="" id="" rows="10" v-model="log.comment"></textarea>
          </div> -->

      </form>
      </div>
        <div v-if="allow" style="text-align:center;float:left;margin-left:140px">
 
            <!-- <a href="#" @click.prevent="refreshLog('asc')">Asc</a> <a href="#" @click.prevent="refreshLog('desc')">Desc</a> -->
        </div>
          <!-- <upload v-if=""></upload> -->

          
      <!-- <table id="journal" v-if="">
          <tr v-for="(log, index) in filteredComments" :key="index">
              <td v-if="allow">
                  <div>
                      <button @click="editComment(log.id)">Edit</button>
                </div>
              </td>
              <td v-html="log.comment"></td>
                 
          </tr>
      </table> -->

        <div class="journal" v-for="(log, i) in filteredComments" :key="i">
            <div class="date" v-if="allow">
                {{ log.formattedDate }}
                <!-- <button class="edit" @click="editComment(log.id)">Edit</button> -->
                <i class="material-icons" @click="editComment(log.id)">mode_edit</i>
            </div>
            <div class="comment" v-html="log.comment"></div>
        </div>

<!-- {{ this.$store.state.naz.res }} -->
    <!-- popup triggered by this.edit -->
    <div class="modal2" v-if="edit">
        <div id="edit" :class="{ editor : edit }" >             
            <i @click="noEdit" class="material-icons">&#xE5CD;</i>

        <div class="formatting">
            <button @click.prevent="format('richTextFielda', 'bold')"><i class="material-icons">&#xE238;</i></button>
            <button @click.prevent="format('richTextFielda', 'italic')"><i class="material-icons">&#xE23F;</i></button>
            <button @click.prevent="format('richTextFielda', 'underline')"><i class="material-icons">&#xE249;</i></button>
            <button @click.prevent="format('richTextFielda', 'insertunorderedlist')"><i class="material-icons">&#xE241;</i></button>
            <button @click.prevent="format('richTextFielda', 'insertorderedlist')"><i class="material-icons">&#xE242;</i></button>
            <button @click="show"><i class="material-icons">&#xE163;</i></button>

            <div class="selects">
              <select ref="FontName2" @change="formatMore('FontName2', 'richTextFielda', 'FontName')">
                  <option value="0">Change Font</option>
                  <template v-for="(font, index) in fontNames">
                      <option :value="font.name" :key="index" :class="font.key" class="fonts">{{ font.name }}</option>
                  </template>
              </select>
              <select ref="FontSize2" @change="formatMore('FontSize2', 'richTextFielda', 'FontSize')">
                  <option value="0">Font Size</option>
                  <template v-for="(size, index) in fontUnit">
                      <option :value="size.name" :key="index" class="fonts" :class="size.key">{{ size.name }}</option>
                  </template>
              </select>
            </div>
            <!-- <div class="hue">
                <input type="range" min="1" max="300" value="130" @change="slider('richTextFielda', 'slider2')" ref="slider2">
            </div> -->
        </div>
        <textarea  style="display:none;font-family:Courier" 
            ref="myTextArea2" name="myTextArea2" id="myTextArea2" cols="30" rows="5"
        ></textarea> 
        <iframe frameborder="1" name="richTextFielda" id="richTextFielda" ref="richTextFielda"
        class="myFrame2"
        ></iframe>         
        <v-btn @click="submitChange">Submit Change</v-btn>
            
        </div>
      </div>
      <!-- end of popup -->
  
 
 
  </div>
</template>

<script>
import { eventBus } from '../main'
import axios from 'axios'
import log from './showJournal.vue'
import wys from '../functions/wysiwyg'
import upload from './naz/uploadImg'
import xhr2 from '../functions/xhr'
export default {
  data() {
      return {
          allow: false, // auth ok
          edit: false,
          noShow: true,
          orderBy: true,
          editValue: '',    // boolean to show popup
          editRecord: '',   // current record being edited
          pwd: '',
          journal: [],
          log : {
              topic: '',
              comment: '',
              createLog: '',
              checkAuth: 1,
              pass: '',
              find:''
          },
          passChecked: '',
          el: '', // id of iframe to be passed as argument 
          ell: '',
          fontNames: wys.fontNames,
          fontUnit: wys.fontUnit,
          searchComment: ''  ,
          xhr: ''       
      }
  },

      mounted() {
        //   console.log(this.$refs)
    //   console.log(this.$refs)
        this.el = this.$refs.richTextField.name  
        setTimeout( () => { this.setEditable() }, 1000);      

      },
      created() {
          this.log2(); // method from eventBus via local method
          eventBus.myLog() // method direct from eventBus
        //   console.log(eventBus.myHost, 'from journal');
        //   console.log(eventBus.chloie);
        //   console.log(eventBus.bobbie);
        //   eventBus.food.push('coke zero');
        //   console.log(eventBus.food);
          
          
          this.refreshLog('asc')
          let url = 'http://localhost/tm470/?getMenus'
          let req = { url: url }
        //   xhr2.xhrGet(req)
        //   this.$store.dispatch('xhr', req)
        //   console.log(req)
        
          console.log(localStorage.getItem("password"))
        //   localStorage.removeItem("password")
        //   localStorage.setItem("firstName", this.log.pass)
        // //   console.log(localStorage.getItem("firstName"))
        if(localStorage.getItem("permission")) {
            // this.log.pass = localStorage.getItem("password")
            this.allow = true
        } 
        // else {
        //     localStorage.setItem("password", this.log.pass)
        // }
        
      },
  components: {
    'upload': upload
  },
  computed: {
      filteredComments: function() {
          return this.journal.filter((result) => {
              return result.comment.toLowerCase().match(this.searchComment.toLowerCase())
          });
      }
  },
  methods: {
      log2() {
          eventBus.log()
      },      
      removeStorage() {
          localStorage.removeItem("permission")
          this.allow = false
      },
      checkPwd() {
          axios.post(this.$store.state.url + 'auth', this.log)
          .then(data => this.passChecked = data.data)
          if(this.passChecked == 'success') {
              localStorage.setItem("permission", 'GRANTED')
              this.allow = true
          } else {
              this.allow = false
          }
          console.log(this.passChecked)
        //   console.log(this.auth)
        //   if(this.log.pass == 'naz') {
        //       this.allow = true
        //       console.log(this.allow);
        //   } else {
        //       this.allow = false
        //   }
      },
      editComment(n) {
          this.edit = true
          console.log(n)
        //   console.log(n.path[0].value)
        //   this.editValue = n.path[0].value
          axios.get(this.$store.state.url + 'journal/show.php?id=' + n)
            .then(data => this.editRecord = data.data)
            setTimeout( () => window.frames['richTextFielda'].document.designMode = 'On', 50)
            setTimeout( () => window.frames['richTextFielda'].document.body.innerHTML = this.editRecord.comment, 500)
      },
      submitChange() {
        // console.log(this.editRecord.id)
        // console.log(window.frames['richTextFielda'].document.body.innerHTML)
        let change = { 
            "updateLog" : 1,
            "id" : this.editRecord.id,
            "comment" : window.frames['richTextFielda'].document.body.innerHTML,
            "topic" : this.editRecord.topic
        }
        axios.post(this.$store.state.url + 'journal/index.php', change)
        .then(this.noEdit)
        .then(this.refreshLog('desc'))
      },
      noEdit() {
          this.edit = false
      },
      find() {
          this.refreshLog('asc')
      },
    refreshLog(order) {
        setTimeout( () => {
            axios.get(this.$store.state.url + 'journal/show.php?showAll&orderBy=' + order + '&find=' + this.log.find)
            .then(data => this.journal = data.data)
            .then(console.log(order))
            // .then(this.clearFrame())
        }, 1000)
        this.orderBy = !this.orderBy
    },
      showForm() {
          //   this.el = 'richTextField'
        // console.log(this.$refs)
        //   this.el = this.$refs.richTextField.name  
        //   setTimeout( () => { this.setEditable() }, 1000);      
      },
      submitLog() {
          this.log.comment = wys.showForm(this.el)
        //   console.log(this.log)
        axios.post(this.$store.state.url + 'journal/index.php', this.log)
        .then(data => console.log(data.data))
        .then(this.refreshLog('asc'))
         this.clearFrame()
          
      },
      clearFrame() {
          setTimeout( () => {
              this.log.topic = ''
              document.getElementById(this.el).contentDocument.body.innerHTML = ''
          }, 1000)
      },
    show() {
        //   wys.showForm()
        //   this.content = wys.showForm(this.el)
        // console.log(this.$refs.richTextFields.name);
      },
      forIE() {
          // this.$refs.forIE.style.display = "block";
        let el = this.$refs.forIE.id
        document.getElementById(el).contentDocument.body.style.display = "block";
      },
      format(el, att) {
          wys.formatBasic(el, att)
      },
      formatMore(ref, el, att) {
          // let item = opt == 'font' ? 'FontName' : 'FontSize' 
        var ele = this.$refs[ref]
        console.log(ele)
        var myFont = ele.options[ele.selectedIndex].value          
        console.log(myFont)
        wys.formatMore(el, att, myFont)
        ele.value = 0;
      },
      
      slider(el, ref) {
          let slider = this.$refs[ref].value
          let color = wys.hslToHex(slider, 100, 50)
          wys.setColor(el, color)
      },
      setEditable() {
          wys.editableFrame(this.el)
        //   wys.editableFrame(this.el2)
      }
    
  }
     
}
</script>
<style lang="scss" scoped>
@import './journal';
</style>

