<template>
  <div id="">
    <div :class="{ mob: mobile, tab: tablet, des: desktop }"  id="one">
      <ul>
        <li id="mob" :class="{  }" @click="makeMobile">Mobile</li>
        <li id="tab" :class="{  }" @click="makeTablet">Tablet</li>
        <li id="des" :class="{  }" @click="makeDesktop">Desktop</li>
      </ul>
    </div>
    <section id="todo">
      <div id="input">
        <input type="text" v-model="newTodo"  @keyup.enter = "addTodos"> <button type="button" @click="clearTodos">Clear</button>
      </div>
      <div id="list" v-if="todos != ''">
        <p v-for="todo in todos"> {{ todo }}</p>
      </div>
    </section>
  </div>
</template>
<script>
// import { addTodo as add } from './funcs'
export default {
  name: "",
  data: () => ({
    w500: false,
    width: '960px',
    mobile: false,
    tablet: false,
    desktop: true,
    newTodo: '',
    todos: []
  }),
  methods: {
    make500() {
      this.w500 = !this.w500,
      this.width = this.w500 ? '500px' : '700px'
    },
    makeDesktop() {
      this.mobile = false
      this.tablet = false
      this.desktop = true
    },
    makeMobile() {
      this.mobile = true
      this.tablet = false
      this.desktop = false
    },
    makeTablet() {
      this.tablet = false;
      this.desktop = false;
      this.tablet = true;
    },
    // addTodos : add(this.todos,),
    addTodos(todo) {
      this.todos.push(this.newTodo)
      this.newTodo = ''
    },
    clearTodos() {
      this.todos = []
    }
  }
}
</script>
<style lang="scss" scoped>
@mixin notMobile {
  li#tab {
    color: blue;
    text-decoration: underline;
  }
  li#des {
    color: blue;
    text-decoration: underline;
  }
}
@mixin notTablet {
  li#mob {
    color: blue;
    text-decoration: underline;
  }
  li#des {
    color: blue;
    text-decoration: underline;
  }
}
@mixin notDesktop {
  li#mob {
    color: blue;
    text-decoration: underline;
  }
  li#tab {
    color: blue;
    text-decoration: underline;
  }
}
* {
  transition: 1s;
}
#todo {
  // display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 500px;
  margin: 0 auto;

  #list {
      margin-left: 10px;
  }
  #input {
    display: flex;
    input {
      width: 80%;
      margin-right: 5px;
      border: 1px solid #ddd;
      height: 2em;
      padding: 15px;
      border-radius: 5px;
      outline: none;
      &:focus {
        border-color: #999;
        transition: .5s;
      }
    }

    button {
      width: 20%;
      border: 1px solid #ddd;
      padding: 5px 10px;
      border-radius: 7px;
      outline: none;
      color: #999;
      transition: .3s;
      border: 1px solid #ccc;
      &:hover {
        background-color: #ddd;
        color: #666;
        transition: .3s;
      }
    }
  }
}
ul  {
  list-style-type: none;
  letter-spacing: 2px;
  li {
    cursor: pointer;
  }
}
#one {
  width: 700px;
  border: 1px solid #ddd;
  margin: 20px auto;
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;
}
#one.mob {
  width: 400px;
  background-color: yellow;
  li#mob {
    color: gray;
    text-decoration: none;
    cursor: default;
  }
  @include notMobile;

}
#one.tab {
  width: 750px;
  background-color: orange;
  li#tab {
    color: gray;
    text-decoration: none;
    cursor: default;
  }
  @include notTablet;
}
#one.des {
  width: 960px;
  background-color: lightblue;
  li#des {
    color: gray;
    text-decoration: none;
    cursor: default;
  }
  @include notDesktop;
}
</style>
