<template>
  <div>
    <h2 >{{ title }}</h2>
    <h4>{{ this.url }}</h4>
    <p>{{ credentials.username }}</p>
    <p>{{ credentials.password }}</p>
    <div id="home" v-if="!this.$store.state.userIn">
      <form>
        <span ref="error">&nbsp;</span>
        <div class="form-group">
          <label for="exampleInputEmail1">Username</label>
          <input type="email" class="form-control" id="exampleInputEmail1"
            v-model="credentials.username" placeholder="username">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1"
            v-model="credentials.password" placeholder="Password">
        </div>

        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
          <button type="submit" class="btn btn-default" @click.prevent="login()">Submit</button>
        </div>

      </form>
    </div>

  </div>
</template>

<script>
// import aside from './asides.vue'
// import data from './data.vue'
export default {
  // created() {
  //   this.$http.get(this.url + 'login').then(function(data){
  //     console.log(data.bodyText);
  //     // this.url = this.$store.state.url;
  //   });
  // },
  components: {
    // component: aside,
    // 'app-data': data
  },
  data () {
    return {
        title: 'Authorised users only.',
        result: '',
        auth: this.$store.state.userIn,
        url: this.$store.state.url,
        toLogin: true,
        credentials: {
          username: '',
          password: ''
        }
    }
  },
  created() {
    var t = this.$store.state;
      if(!t.userIn) {
        this.$http.get(t.url + 'login').then(function(data){
          if(data.bodyText == 'Login OK') {
            t.userIn = true;
            this.$router.push('/home');
          }
        });
      } else {
        this.$router.push('/home');
      }

  },
  methods: {
    logUserIn() {
      this.$store.commit('logUserIn');
    },
    // logIn2() {
    //   this.$http.get(this.url + 'login').then(function(data){
    //     console.log(data.bodyText);
    //   });
    // },
    logIn(credentials) {
      this.$store.dispatch('logIn', credentials);
      console.log('logIn method is login.vue');
    },
    login() {
      this.$http.post(this.url + 'login', this.credentials).then(function(data) {
        if(data.bodyText == '1Login OK.') {
          this.$store.state.userIn = true;
          this.$router.push('/home');
        } else {
          this.$refs.error.innerHTML = 'Login invalid';
        }
        console.log(data.bodyText);
      });
    }

  },
  computed: {
    setLogin() {
      // return this.$store.getters.logUserIn;
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../style";

form {
  background: $lightblue1a;
  margin: 0 auto;
  // padding: 10px;
  label {
    // padding: 10px;
    float: left;
  }
  button {
    padding: 5px;
    margin: 10px;
  }
  input {
    // margin-left: 5px;
  }
}
#home {
  // background: $lightblue1a;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 270px;
  width: 380px;
  border-radius: 10px;
  // border-right: 1px solid $gray1;
  // border-left: 1px solid $gray1;
}

h2 {
  margin-top: 40px;
}

</style>
