<template>
  <v-app id="clone">
  <h5>Clone Stamp tool obsession</h5>
  <p>Click on each image to toggle view.</p>


    <template v-for="imgs in images">
      <img :src="imgs.src"  title="Click to toggle view" @click="swap(imgs)" class="imgs" :key="imgs.id">
      <!-- <button type="button" name="button" @click="swap(imgs)">Toggle</button> -->
    </template>




  </v-app>
</template>
<script>

import { eventBus } from '../main'
export default {
  data() {
    return {
        images : [
          {
            "img1" : "/static/beach.jpg", "img2": "/static/beach1.jpg", "src" : "/static/beach.jpg"
          },
          {
            "img1" : "/static/cat.jpg", "img2": "/static/cat1.jpg", "src" : "/static/cat.jpg"
          },
          {
            "img1" : "/static/dog-shadow.jpg", "img2": "/static/dog-shadow1.jpg", "src" : "/static/dog-shadow.jpg"
          },
          {
            "img1" : "/static/dog-walker.jpg", "img2": "/static/dog-walker1.jpg", "src" : "/static/dog-walker.jpg"
          },
          {
            "img1" : "/static/woman-at-a-beach.jpg", "img2": "/static/woman-at-a-beach1.jpg", "src" : "/static/woman-at-a-beach.jpg"
          }
        ]
    }
  },
  methods: {
    swap(i) {
      i.src = i.src == i.img1 ? i.src = i.img2 : i.img1;
    }
  }, 
  created() {
    // eventBus.food.push('apple')
    // console.log(eventBus.food)
  }
}
</script>
<style lang="scss" scoped>
#clone {

  h5, h6, p {
    color: #999;

  }
  background-color: #000;
  text-align: center;
  button {
    outline: none
  }
  img.imgs {
    padding: 5px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 12px;
  }
}
.img {
  padding: 5px;
  margin: auto;
  img {
    width: 100%;
    margin: 0 auto;
  }
  button {
    display: block;
    font-size: 1.2em;
    text-align: center;
    width: 10rem;
    border: 1px solid #ddd;
    padding: .5rem;
    margin: auto;
  }
}
@media only screen and (min-width: 480px) {
  .img {
    width: 480px;
    padding: 0;
    img {
      width: inherit;
    }
  }

}
</style>
