<template>
  <v-app>
    <div class="main">
      <template v-if="!show">
        <input type="password" v-model="pass" @keyup="validate" class="omp">
      </template>
      <template v-else>
          <img v-for="image in images" :src="image" alt="" @click="show = false">
      </template>

    </div>
  </v-app>
</template>
<script>
export default {
  data() {
    return {
      title: 'test',
      images : [],
      pass: "",
      show: false

    }
  },
  methods: {
    validate() {
      if(this.pass == 'lamRiaMp17') {
        this.show = true;
      }
      setTimeout(this.hide, 60000);
    },
    hide() {
      this.show = false;
    }
  },
  created() {
    this.$http.get(this.$store.state.url + 'readDir').then(function(data){
      this.images = data.body;
      // console.log(data.body);
    });
    // console.log(this.$store.state.url);
  }
}
</script>
<style lang="scss" scoped>
@import "../style";
.main {
  padding-top: 60px;
  background-color: #000;
  text-align: center;
  // margin-top: 60px;
}
input.omp {
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 7px;
  padding: 7px 7px;
  width: 200px;
  margin: auto;
  color: #fff;

}
img {
    width: 40%;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 10px;
    display: block;
    // width: 60%;
}
</style>
