<template>
  <v-app>
    <div>
        <form class="" action="index.html" method="post">

        <input type="password" @keyup="getAccess" class="form-control" v-model="key" placeholder="fire">
        <textarea v-if="access" v-model="newData.fresh" type="text" class="form-control" placeholder=""></textarea>
        <v-btn outline class="grey--text" @click="add">Add</v-btn>
      </form>

      <!-- {{ this.data }} -->
      <ul>
        <template v-for="d in data">
          <li v-text="d.body"></li>
        </template>
      </ul>


    </div>
  </v-app>
</template>

<script>
// import * as fs from 'fs';
export default {
  components: {
    // component: aside,
    // 'app-data':
  },
  data () {
    return {
        access: false,
        key: '',
        data: '',
        newData: {
          fresh: ''
        },
        more:   [
          {
            name: "chloie", age: 2
          },
          {
            name: 'nazie', age: 30
          }
        ]
    }
  },
  methods: {
    getAccess() {
      this.$http.post(this.$store.state.url + 'access', {"access":this.key}).then(function(data){
        if(data.bodyText == 'ok') {
          this.access = true;
        } else {
          this.access = false;
        }
        // console.log(data.body);
      });
    },

    add() {
      this.$http.post(this.$store.state.url + 'all', this.newData).then(function(data){
        // console.log(data.bodyText);
        if(data.bodyText == 'posted') {
          this.newData.fresh = '';
        }
      })

    }

  },

  created() {
    this.$http.get(this.$store.state.url + 'tips').then(function(data){
    // this.$http.get(this.$store.state.url + 'test').then(function(data){
      this.data = data.body;
      console.log(this.data);
    });
  }
}
</script>

<style lang="scss" scoped>
@import "../style";

h5 {
  font-size: 1.1em;
}
li {
  list-style-type: circle;
  text-align: left;
  font-family: monospace;
}
form {
  background-color: inherit;
}

</style>
