<template>
  <v-app>
    <div>
        <form class="" action="index.html" method="post">

        <input type="text" class="form-control" v-model="search" placeholder="filter">
        <input v-if="access" type="text" class="form-control" placeholder="">
        <!-- <v-btn outline class="grey--text" @click="add">Add</v-btn> -->
      </form>

      <!-- {{ this.data }} -->
      <h5>fresh from the oven</h5>
      <ul>
        <template v-for="d in filteredData">
          <li v-html="$options.filters.lineBreak(d.body)"></li>
          <!-- <li>{{}}</li> -->
        </template>
      </ul>


    </div>
  </v-app>
</template>

<script>
// import * as fs from 'fs';
export default {
  components: {
    // component: aside,
    // 'app-data':
  },
  data () {
    return {
        access: false,
        key: '',
        data: [],
        search: '',
        more:   [
          {
            name: "chloie", age: 2
          },
          {
            name: 'nazie', age: 30
          }
        ]
    }
  },
  computed: {
    filteredData() {
      return this.data.filter((datum) => {
        return datum.body.match(this.search);
        // return protocol.price.match(this.search);
      });
    }
  },
  methods: {
    getAccess() {
      this.$http.post(this.$store.state.url + 'access', {"access":this.key}).then(function(data){
        if(data.bodyText == 'ok') {
          this.access = true;
        } else {
          this.access = false;
        }
        // console.log(data.body);
      });
    },

    add() {
      this.$http.post('http://localhost/nazs/write.php', this.data).then(function(data){
        console.log(data.bodyText);
      })

    }

  },

  created() {
    this.$http.get(this.$store.state.url + 'tips').then(function(data){
    // this.$http.get(this.$store.state.url + 'test').then(function(data){
      this.data = data.body;
      console.log(this.data);
    });
  }
}
</script>

<style lang="scss" scoped>
@import "../style";

h5 {
  font-size: 1.1em;
}
li {
  list-style-type: circle;
  text-align: left;
  font-family: monospace;
  line-height: 1.9em;
}
form {
  background-color: inherit;
}

</style>
