<template>
    <div>
        <!-- <div class="input">
            <button @click="lessVal('a')"> DOWN</button> 
            <input type="text" ref="a" value="1" v-model="min">  
            <button :class="{ hide : !range }" @click="addVal('a')" :style="myStyle" > UP</button>
        </div>
        <div class="input">
            <button :class="{ hide : !range }" @click="lessVal('b')" :style="myStyle"> DOWN</button>
            <input type="text" ref="b" value="10" v-model="max"> 
            <button @click="addVal('b')"> UP</button>
        </div>

        <button @click="rollDice()">Dice roll: </button>
        <span id="dice">  {{ dice }}</span> -->
    
    <app-wys></app-wys>
        <!-- <div id="formatting">
            <button @click="format('bold')"><i class="material-icons">&#xE238;</i></button>
            <button @click="format('italic')"><i class="material-icons">&#xE23F;</i></button>
            <button @click="format('underline')"><i class="material-icons">&#xE249;</i></button>
            <button @click="format('insertunorderedlist')"><i class="material-icons">&#xE241;</i></button>
            <button @click="format('insertorderedlist')"><i class="material-icons">&#xE242;</i></button>
            <button @click="show"><i class="material-icons">&#xE163;</i></button>

            <div id="selects">
              <select ref="FontName" @change="formatMore('FontName')">
                  <option value="0">Change Font</option>
                  <template v-for="(font, index) in fontNames">
                      <option :value="font" :key="index">{{ font }}</option>
                  </template>
              </select>
              <select ref="FontSize" @change="formatMore('FontSize')">
                  <option value="0">Font Size</option>
                  <template v-for="(size, index) in fontUnit">
                      <option :value="size" :key="index">{{ size }}</option>
                  </template>
              </select>
            </div>
            <div class="hue">
                <input type="range" min="1" max="300" value="130" @change="slider" ref="slider">
            </div>
        </div>
        <textarea  style="display:none;font-family:Courier" name="myTextArea" id="myTextArea" cols="30" rows="10"></textarea> 
        <iframe frameborder="1" name="richTextField" id="richTextField" ref="richTextField"
        style="height:300px"
        ></iframe>  -->

            <!-- <p id="preview" v-html="content"></p> -->
    </div>
</template>

<script>
import wysform from './reuse/wys-form'
import norobots from '../functions/norobots'
export default {
  data() {
      return {
          min: 1,
          max: 12,
          dice: '',
          range: true,
          content: '',
          el: '', // id of iframe to be passed as argument 
        //   fontNames: wys.fontNames,
        //   fontUnit: wys.fontUnit,
          msg: 'Highlight text to apply formatting',
          status: norobots.tStatus
      }
  }, 
  components : {
      'app-wys': wysform
  },
  computed: {
      myStyle() {   
          var min = parseInt(this.min)
        var max = parseInt(this.max)
      if(max - min < 6 )  { 
          return { color: 'red'};
      } else {
        return {};
      }
    }  
  },
  created() {
    
  },
    mounted() {
        // this.el = this.$refs.richTextField.name
        // setTimeout( () => { this.setEditable() }, 1000);
    },
  methods: {
    show() {
      //   wys.showForm()/
        //   this.content = wys.showForm(this.el)
        // console.log(this.$refs.richTextFields.name);
      },
      forIE() {
        // this.$refs.forIE.style.display = "block";
        let el = this.$refs.forIE.id
        document.getElementById(el).contentDocument.body.style.display = "block";
      },
      format(att) {
        // wys.formatBasic(this.$refs.richTextField.name, att)
      },
      formatMore(att) {
        // let item = opt == 'font' ? 'FontName' : 'FontSize' 
        var ele = this.$refs[att]
        var myFont = ele.options[ele.selectedIndex].value          
        // wys.formatMore(this.el, att, myFont)
        ele.value = 0;
      },
      
      slider() {
          let slider = this.$refs.slider.value
        //   let color = wys.hslToHex(slider, 100, 50)
        //   wys.setColor(this.el, color)
      },
      setEditable() {
        //   wys.editableFrame(this.el)
      },

      rollDice() {
          var min = parseInt(this.$refs.a.value);
          var max = parseInt(this.$refs.b.value);
        this.dice = wys.rollDice(min, max)
        this.min = min
        this.max = max
        
      },      
      addVal(el) {
          var min = parseInt(this.$refs.a.value)
        var max = parseInt(this.$refs.b.value)
        if(el == 'a') {
            if(max - min != 5) {
                wys.addVal(this.$refs[el], 1)
            } else {
                this.range = max - min < 6 ? false : true
                // alert('range error')
            }
        } else {
            wys.addVal(this.$refs[el], 1)
            // this.range = false
            // this.range = max - min < 6 ? false : true
        }
        this.min = min
        this.max = max
        this.range = (max - min < 6 ? false : true)

      },
      lessVal(el) {
          // this.range = max - min == 5 ? false : true
        var min = parseInt(this.$refs.a.value)
        var max = parseInt(this.$refs.b.value)
            this.range = max - min < 6 ? false : true
        if(el == 'b') {
            if(max - min != 5) {
                wys.lessVal(this.$refs[el], 1)
            } else {
                }
                this.range = max - min < 6 ? false : true
        } else {
            wys.lessVal(this.$refs[el], 1)
            this.range = max - min < 6 ? false : true
        }
        this.range = max - min < 6 ? false : true
        this.min = min
        this.max = max        
      }
  }
}
</script>
<style lang="scss" scoped>

</style>
