<template>
  <div>
      <div class="sampleContainer">
          <app-sample></app-sample>
      </div>

  </div>
</template>

<script>

import sample from './menus/restaurant.vue'

export default {
    components: {
        'app-sample': sample
    }
}
</script>

<style>
.sample {
    background-image: url('/static/sample.jpg');

}
.sampleContainer {
    /* padding: 60px 0; */
    /* background-color: lightgray; */
    /* height: 100vh; */
    text-align: center;
    /* color: gray; */
    a:link, a:visited, btn, v-btn {
        color: black;
    }
    &:after {
        content: "\2002";
    }
}
</style>
