<template>
  <div>
      <table>
          <thead>
              <!-- <th>Topic</th>
              <th>Comments</th> -->
          </thead>
          <tr v-for="(log, index) in journal" :key="index">
              <td>{{ log.date }}</td>
              <td>{{ log.topic }}</td>
              <td v-html="log.comment"></td>
          </tr>
      </table>
      
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
      return {
          journal: ''
      }
  },
  methods: {
      checkPwd() {
          if(this.log.pass == 'naz') {
              this.show = true
            //   console.log(this.show);
          } else {
              this.show = false
          }
      },
      submitLog() {
          axios.post(this.$store.state.url + 'journal/index.php', this.log)
          .then(data => console.log(data.data))
        //   console.log(this.log)

      }
    },
    created() {
      axios.get(this.$store.state.url + 'journal/show.php')
      .then(data => this.journal = data.data)
    //   console.log(this.journal)
    //   console.log('hi')
    }
}
</script>
<style lang="scss" scoped>

table {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ddd;
    tr {
        // padding: 30px 0;
        vertical-align: top;
        height: 30px;
        td {
            padding: 10px;
            &:nth-child(1) {
                width: 150px;
                // color: red;
            }
        }
    }
}

</style>

