<template>
  <div>
    <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea aperiam, maiores dolorem, vel harum praesentium totam perferendis, voluptatem ipsa repudiandae quod, numquam. Maiores beatae, enim, esse voluptatem atque adipisci cumque ipsum dolore quas minus consequatur, assumenda laboriosam. Quaerat maxime odio commodi necessitatibus explicabo nesciunt rerum, provident reprehenderit ex laborum distinctio excepturi quo quas laudantium odit exercitationem dolorum, nihil possimus ipsum corporis nemo. Qui tempore quia ratione blanditiis reprehenderit, id placeat sit accusamus enim pariatur natus, sint vitae hic neque, eos.</p> -->
    <img src="http://lorempixel.com/300/200" alt="" ref="imgTarget">
    <p ref="imgTitle">d</p>
    <template v-for="img in imgs">
      <a href="#" @click="go(img.img)"><img :src="img.img" :alt="img.alt" width="70px"></a>
    </template>
    <div>
      <v-btn class="btn btn-default" @click="prev" >Prev</v-btn>
      <v-btn class="btn btn-default" @click="next" >Next</v-btn>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      imgs : [
        {"img": "http://placeimg.com/300/200", "alt": "This is the first image."},
        {"img": "http://placeimg.com/300/200", "alt": "This is another image."},
        {"img": "http://placeimg.com/300/200", "alt": "This is a random image."},
        {"img": "http://placeimg.com/300/200", "alt": "This is another random."},
        {"img": "http://placeimg.com/300/200", "alt": "This is the last in the array."}
      ],
      count: 0
    }
  },
  methods: {
    go(n) {
      this.$refs.imgTarget.src = n;
    },
    prev() {
      this.$refs.imgTitle.innerHTML = this.imgs[this.count].alt;
      this.$refs.imgTarget.src = this.imgs[this.count].img;
      if(this.count == 0) {
        this.count = this.imgs.length-1;
      } else
      { this.count--;
      }
    },
    next() {
      this.$refs.imgTarget.src = this.imgs[this.count].img;
      this.$refs.imgTitle.innerHTML = this.imgs[this.count].alt;
      // console.log(this.count);
      if(this.count < this.imgs.length-1) {
        this.count++;
      } else
      { this.count = 0;
      }
    }
  }
}
</script>

<style lang="css">
</style>
