<template>
  <div>
    <div class="landing start" :class="{ shorter : hideAll }">
        <div>
          <h4>Front-end web dev</h4>
          <h5>flavoured with bespoke APIs</h5>
          <h6>
            <!-- <span @mouseover="parallax" @mouseout="hide"><i class="material-icons icon">info</i></span> -->
             Parallax... just when scrolling almost becomes a chore</h6>
             <p>frameworks and libraries... but nothing as delicious as vanilla JavaScript</p>
        </div>

        <div class="search">
          <input type="text" v-model="keyword" value="" placeholder="find tip" 
          @keyup="hideEverything"
          > <button @click="clear"><i class="material-icons">
            clear
            </i></button>
        </div>
      <div class="filter" v-if="hideAll" :class="{ long : noMatch }">
        <section v-for="(c,i) in filterResource" :key="i" v-html="c"></section>
      </div>

      <!-- <apptest></apptest>
      <hr>
      <apptest2></apptest2> -->

    </div>


    <template v-if="!hideAll">
      <v-parallax src="/static/abst5.jpg"  height="20">
        <v-layout column align-center justify-center>
        </v-layout>
      </v-parallax>
      <v-parallax src="/static/amazing.jpg"  height="850">
        <v-layout column align-center justify-center>
          <appbooking></appbooking>
        </v-layout>
      </v-parallax>
      <v-parallax src="/static/abst5.jpg"  height="20">
        <v-layout column align-center justify-center>
        </v-layout>
      </v-parallax>
      <v-parallax src="/static/france.jpg" height="250">
        <v-layout column align-center justify-center>
        </v-layout>
      </v-parallax>
      <div v-if="show" id="parallax">Parallax scrolling is a technique in computer graphics and web design, where background images move by the camera slower than foreground images, creating an illusion of depth in a 2D scene and adding to the immersion.</div>
    </template>
  </div>
</template>

<script>
import { eventBus } from '../main'
import axios from 'axios'
import appbooking from './booking'
import apptest from './test'
import apptest2 from './test2'
export default {
    components: {
        appbooking, apptest, apptest2
    },
    data() {
      return {
        show: false,
        hideAll: false,
        noMatch: false,
        keyword: '',
        text: [],
        text2: 'hello <world>'
      }
    },
    computed: {
      filterResource() {      
        return this.text.filter((result) => {
          return result.toLowerCase().match(this.keyword.toLowerCase())
        });
      },
    },
    methods: {
      checkFilteraaa() {
        console.log(); 
      },
      parallax() {
        this.show = true;
      },
      hide() {
        this.show = false;
      }
      ,hideEverything() {
        this.hideAll = true;
        if(this.filterResource.length === 0) this.noMatch = true
        
      }
      ,clear() {
        this.hideAll = false;
        this.keyword = ''
      }
   
    },
    created() {
      // console.log(eventBus.food)
    axios.get(this.$store.state.url + 'journal/show.php?showAll&orderBy=desc')
    // .then(data => console.log(JSON.stringify(data.data, undefined, 2))
    // .then(data => this.text = data.data )      
    .then(data => {
        data.data.forEach( com => {
          this.text.push(com.comment)
          // console.log(this.text);
        })
      })      
      console.log(this.filterResource);
      
    }
    
}
</script>

<style lang="scss" scope>
div#journaln {
  width: 90%; 
  height: 100%;
  overflow: auto;
  // outline: 1px solid red;  
  // z-index: 100 !important;
  background-color: #ddd;
  margin: 10px auto;
  div {
    background-color: inherit;
  }
}
.start {
    background-image: url("/static/trees-7.jpg");
    /* padding-top: 60px; */
}
#parallax {
  display: block;
  width: 300px;
  position: absolute;
  right: 20px;
  /* top: 60px; */
  color: #ddd;
  background: rgba(0,0,0, .3);
  border-radius: 7px;
  /* padding: 10px; */
}
 i.icon {
  font-size: 2em;
}
div.search {
  margin: 10px auto;
  width: 300px;
  background: none;
  button {
    outline: none;
    i {
      &:hover {
        color: #ccc;
        transition: .2s;
      }
    }
  }
}
input {
  outline: none;
  border: 1px solid rgba(105, 105, 105, 0.37);
  border-radius: 7px;
  padding: 7px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.322);
  // display: block;
  transition: .2s;
  &:focus {
    border: 1px solid rgba(78, 78, 78, 0.445);
    transition: .2s;
  }
}
div.filter {
  margin: 0px auto;
  // padding-bottom: 10px;
  max-width: 700px; 
  background: rgba(212, 217, 219, 0.94);
  border-radius: 7px;
  // min-height: 400px;
  // color: #fff;
  section {
    border: 1px dotted rgba(20, 117, 141, 0.678);
    border-radius: 7px;
    margin: 10px 0;
    padding: 10px;
    // background: inherit;
     div {
      background: inherit;
      margin-left: 0;
      p {
        color: inherit;
        font-family: inherit;
        text-align: inherit;
        font-style: inherit;
        letter-spacing: inherit;
      }
    }
  }
}
.shorter {
  // height: 100vh;
  // background-image: inherit;
}
.filter.long {
  // background: none;
}
</style>
