<template>
  <div>
    <table>
      <slot name="title"></slot>
      <tr><td>raw</td></tr>
    </table>
    <!-- <table> -->
    <!-- <slot></slot> -->
      <!-- <slot name="head"></slot> -->
      <!-- <tr v-for="starter in menus.starters" class="single-starter">
        <td class="item">{{ starter.item }}</td>
        <td>{{ starter.description }}</td>
        <td class="pound">&pound; {{ starter.price.toFixed(2) }}</td>
      </tr> -->
    <!-- <slot name="foot"></slot> -->
  <!-- </table> -->
  </div>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
