<template>
  <div>
    <h5>from test2</h5>
    <p> {{ food }}</p>
    <input type="text" v-model="newFood">
    <button @click="add">Add</button>
  </div>
</template>

<script>
import { eventBus } from '../main'
export default {
  data() {
    return {
      food: eventBus.food,
      newFood: ''
    }
  }
  ,methods: {
    add() {
      eventBus.addFood(this.newFood)
      // localStorage.setItem('food', eventBus.food)
      this.newFood = ''
    }
  }
}
</script>
