<template>
  <div>
    <p>from Test.vue</p>
    <p>{{ food }}</p>
  </div>
</template>

<script>
import { eventBus } from '../main'
export default {
  data() {
    return {
      food : eventBus.food
    }
  }
}
</script>
