<template>
  <div>
    <p>Web</p>

    <h2>H2</h2>
    <h3>h3</h3>
  </div>
</template>

<script>

export default {
  components: {
  },
  data () {
    return {
        // items: items
        title: 'This is Main'
    }
  },
  methods: {

  },
  created() {
    
  }
}
</script>

<style lang="scss" scoped>
@import "../style";

@include breakpoint(min-width 600px) {

  h2, h3 {
    @include span(6);
  }
}

li {
  // display: inline-block;
  // margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
