<template>
  <div>
      <div class="weekly">
        <h4>Weekly letter</h4>
        <div>
            <label for="">Theme</label> <input type="text" v-model="my.theme">
            <label for="">Date</label> <input type="date" v-model="my.date">
            <button @click="newStory">Submit</button>
        </div>
        <!-- <ul class="letters">
            <li v-for="(d, i) in this.dates" :key="i">
                {{ d.formattedDate }} 
                <router-link :to="'/bob/oneLetter/' + d.letter_id ">{{ d.theme }}</router-link>
            </li>
        </ul> -->
        <div class="letters">
            <template v-for="(d, i) in this.dates">
                
                <router-link :to="'/bob/oneLetter/' + d.letter_id " :key="i">
                {{ d.formattedDate }} 
                {{ d.theme }}</router-link>
            </template>
        </div>
      </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
      return {
        dates: '',
        my: {
            theme: '', date: ''
        }
      }
  },
  
  created() {
    this.getStories()
  },

  methods: {
      newStory() {
          let story = {
              new_story : 1,
              theme: this.my.theme,
              date: this.my.date
          }
          axios.post('http://11.1.1.11/nazs/elm/indexAPI.php', story)
          .then(data => console.log(data.data))
          
          this.getStories()
      },

      getStories() {
          setTimeout(() => {
              axios.get('http://11.1.1.11/nazs/elm/indexAPI.php')
              .then(data => this.dates = data.data)                        
          }, 500);
      }
  }
}
</script>

<style lang="scss" scoped>
@import "bob";
</style>

