ul.letters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // align-items: flex-start;
    // column-count: 2;
    // column-gap: 0;
    height: 100%;
    width: 200px;
    // clear: right;
    li, div {
        // list-style-type: none;
        // flex-basis: 200px;
        flex: 1;
        // outline: 1px solid;
        background-color: rgb(218, 213, 213);
        margin: 2px;
        padding: 3px;
        display: inline-block;
        width: 150px;
        height: 100px;
        clear: both;
        a {
            display: block;
        }
    }
}

div.letters {
    column-count: 2;
    column-gap: 0px;
    a {
        width: 200px;
        // height: 70px;
        color: rgb(102, 100, 100);
        border: 1px solid rgb(114, 113, 113);
        margin: 5px;
        padding: 5px;
        display: inline-block;
        transition: .2s;
        &:hover {
            text-decoration: none;
            background-color: rgb(122, 121, 121);
            color: rgb(245, 245, 245);
            transition: .2s;
        }
    }
    @media(min-width: 640px) {
        column-count: 3
    }
    
    @media(min-width: 860px) {
        column-count: 4;
    }
    
}
.weekly {
    margin: 0 auto;
    max-width: 860px;

}

input, button {
    padding: 5px;
    border: 1px solid #ddd;
    outline: none;
    transition: .3s;
}

input:focus {
    border-color: rgb(151, 151, 151);
    transition: .3s;
}

button {
    padding: 5px 10px;
    font-size: 1em;
    &:hover {
        background-color: rgb(231, 230, 230);
    }
}