<template>
  <div class="fbox">fbox
      <div class="fwrapper">fwrapper
        <!-- <div class="fheader">
            <h4>Welcome to Flexbox playground..</h4>
        </div>
        <div class="fmain"> MAIN
            <article>ARTICLE</article>
            <aside >aside</aside>
            <div class="fnav">side nav</div>
        </div>
        <div class="ffooter">FOOTER</div> -->
      </div>
  </div>
</template>

<script>
export default {
  
}
</script>

<style lang="scss" scoped>
* {
    // text-align: center;
    // margin: 0;
}
html, body {
    // height: 100%;
}
.fbox {
    display: flex;
    // height: 100%;
    flex-direction: column;
    // align-items: stretch;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    // flex-basis: 100%;
    // margin: 0;
    // padding: 0;
    background-color: rgb(204, 13, 13);
    border: 1px solid blue;
}
.fwrapper {
    display: flex;
    // height: auto;
    // height: 100%;
    // flex: 1 0 auto;
    flex-grow: 1;
    // flex-direction: column;
    // border: 5px solid rgb(0, 225, 255);
    // flex-basis: 100%;
    // flex-grow: 10;
    // flex-shrink: 0;
    &:after, &:before {
        // content: 'test';
        // clear: both;
    }
}
.fheader {
    display: flex;
    flex-basis: 100px;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(17, 18, 82);
}

.fmain {
    display: flex;
    // margin: 5px 3px;
    flex: 1 0 auto;
    outline: 0px solid rgb(105, 12, 12);
    background-color: rgb(16, 109, 49);
    flex-basis: 100%;
    // height: 400px;

    article {
        flex-grow: 4;
        flex-basis: 400px;
        background-color: rgb(224, 247, 164);
    }

    .fnav {
        order: -1;
    }

    aside, .fnav {
        flex-grow: 2;
    }

}
        @media (max-width: 500px){
            .fmain {

                background-color: rgb(194, 28, 28);
                flex-direction: column;
                // flex: 1 0 auto;
                article {
                    order: -1;
                    flex-basis: 400px;
                    background-color: rgb(231, 241, 173);
                }
                aside, .fnav {
                    flex-grow: 2;
                    flex-basis: 100px;
                }
            }
        }

</style>
