<template>
  <div>
    <!-- <h3>Iframe</h3> -->
    <section>
      <iframe src="https://nazs.net/holiday" 
      frameborder="0"
      alignt="center"
      ></iframe>
    </section>
  </div>
</template>

<style lang="scss" scoped>
section {
  display: flex;
}
iframe {
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-height: 80vh;
  scroll-behavior: auto;
}
</style>

