.arial {
    font-family: Arial
}
.courier {
    font-family: Courier
}
.georgia {
    font-family: Georgia
}
.helvetica {
    font-family: Helvetica;
}
.impact {
    font-family: Impact;
}
.tahoma {
    font-family: Tahoma;
}
.verdana {
    font-family: Verdana;
}
.times {
    font-family: 'Times New Roman';
}
.fonts {
    font-size: 16px;
}
.selects {
    display: block;
}
.two {
    font-size: 12p2;
}
.three {
    font-size: 14px;
}
.four {
    font-size: 16px;
}
.five {
    font-size: 18px;
}
.six {
    font-size: 20px;
}
.seven {
    font-size: 22px;
}

select {
    // background-color: rgb(185, 213, 250);
    color: rgb(33, 81, 145);
    padding: 5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    cursor: pointer;
    // border-radius: 7px;
    outline: none;
    border: 1px solid rgb(181, 181, 182);
    option {
        background-color: rgb(219, 220, 223);
        // padding: 15px;
        // margin: 5px;
    }
}
// .eWrapper {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }
// .formatting {
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     align-items: center;
//     border: 1px solid #ccc;
//     padding: 7px;
//     margin: 7px;
// }
// .formatting, iframe {
//     border-radius: 10px;
//     background-color: rgb(205, 226, 253);
//     border: 1px solid rgb(155, 169, 238);
//     color: red;

// }
.letter {
    display: flex;
    flex-direction: column;
    width: 850px;
    flex-basis: 800px;
    margin: 0 auto;
    // outline: 1px solid blue;
}
iframe {
    display: flex;
    flex-basis: 300px;
    width: 100%;
    outline: none;
    margin: 5px 0;
    // height: 100%;
    flex-basis: 500px;
    border: 1px solid #ccc;
}

@media (max-width: 500px) {
    iframe {
        width: 400px;
    }
}

input, button.action {
    padding: 5px;
    border: 1px solid rgb(201, 200, 200);
    outline: none;
    transition: .3s;
}

input:focus {
    border-color: rgb(151, 151, 151);
    transition: .3s;
}

button.action {
    padding: 5px 10px;
    &:hover {
        background-color: rgb(231, 230, 230);
    }
}

.enclose {
    display: flex;
    flex-direction: row;

    .new, .current {
        flex-grow: 1;
    }
}

ul {
    display: flex;
    flex-direction: column;
}

a.back.router-link-active {
    float: right;
    i {
        color: black;
        font-size: 2.8em;
    }
    // border: 1px solid rgb(156, 156, 156);
    // padding: 5px;
    cursor: pointer;
    text-decoration: none;
    // border-top-left-radius: 7px;
    // border-top-right-radius: 7px;
    &:hover {
        background-color: rgb(214, 213, 213);
        transition: .2s;
    }
}