<template>
  <div>
      <!-- <p v-for="(l,i) in letter" :key="i" v-html="l.story"></p> -->
			<!-- {{ story }} -->
			<div class="letter">

        <div class="formatting">
            <button @click.prevent="format('richTextField', 'bold')"><i class="material-icons">&#xE238;</i></button>
            <button @click.prevent="format('richTextField', 'italic')"><i class="material-icons">&#xE23F;</i></button>
            <button @click.prevent="format('richTextField', 'underline')"><i class="material-icons">&#xE249;</i></button>
            <button @click.prevent="format('richTextField', 'insertunorderedlist')"><i class="material-icons">&#xE241;</i></button>
            <button @click.prevent="format('richTextField', 'insertorderedlist')"><i class="material-icons">&#xE242;</i></button>
            <!-- <button @click="show"><i class="material-icons">&#xE163;</i></button> -->
            <!-- <button @click.prevent="format('richTextField', 'foreColor')"><i class="material-icons">&#xE167;</i></button> -->
            <div class="selects"> 
              <select ref="FontName" @change="formatMore('FontName','richTextField', 'FontName')">
                  <option value="0">Change Font</option>
                  <template v-for="(font, index) in fontNames">
                      <option :value="font.name" :key="index" class="fonts" :class="font.key">{{ font.name }}</option>
                  </template>
              </select>
              <select ref="FontSize" @change="formatMore('FontSize','richTextField', 'FontSize')">
                  <option value="0">Font Size</option>
                  <template v-for="(size, index) in fontUnit">
                      <option :value="size.name" :key="index" class="fonts" :class="size.key">{{ size.name }}</option>
                  </template>
              </select> <router-link class="back" to="/bob"><i class="material-icons">keyboard_arrow_left</i></router-link>
            </div>

        </div>
        <!-- <textarea  style="display:none;font-family:Courier" name="myTextArea" id="myTextArea" cols="30" rows="5"></textarea>  -->
        <iframe frameborder="1" name="richTextField" id="richTextField" ref="richTextField"
        class="myFrame"
        ></iframe>       
				<button class="action" @click="updateStory">Submit</button>

				<div class="enclose">
					<div class="new">
						<input type="text" v-model="attach">
						<button class="action" @click="addAttachment" v-if="this.attach != '' ">Add attachment</button>
					</div>
					<div class="current">
						<ul>
							<li v-for="(a,i) in currentAttachments" :key="i">{{ a.encl }}</li>
						</ul>
					</div>
				</div>
			</div>
  </div>
</template>

<script>
import axios from 'axios'
import wys from '../../functions/wysiwyg'
export default {
  data() {
      return {
					letter: '',
					story: [],
					el: '',
          fontNames: wys.fontNames,
					fontUnit: wys.fontUnit,
					attach: '',
					currentAttachments: ''				
      }
  },

  created() {
      axios.get('http://11.1.1.11/nazs/elm/indexAPI.php?id=' + this.$route.params.id)
			.then(data => this.letter = data.data)
		
		this.getStory()
		this.getAttachments()
		
			
  },
	mounted() {
		this.el = this.$refs.richTextField.name  
	setTimeout( () => { this.setEditable() }, 1000);      
	},
	
	methods: {
		getAttachments() {
			setTimeout(() => {
				axios.get('http://11.1.1.11/nazs/elm/indexAPI.php?getAttachments=' + this.$route.params.id)
				.then(data => this.currentAttachments = data.data)
			}, 500);
		},
		addAttachment() {

			let attachment = {
				attach: 1,
				letter_id : this.$route.params.id,
				encl: this.attach
			}
			axios.post('http://11.1.1.11/nazs/elm/indexAPI.php', attachment )
			.then(data => console.log(data.data))
			.then(this.attach = '')

			this.getAttachments()
			
		},

		updateStory() {
			let story = {
				update_story: 1,
				story: window.frames['richTextField'].document.body.innerHTML,
				letter_id : this.$route.params.id
			}
			axios.post('http://11.1.1.11/nazs/elm/indexAPI.php', story)
			.then(data => console.log(data.data))
		},
		getStory() {
		// .then(console.log(this.letter))
		// console.log(this.letter);
		
		
			setTimeout(() => {
				this.letter.forEach( letter => {
					this.story.push(letter.story)
				})
			setTimeout( () => window.frames['richTextField'].document.body.innerHTML = this.story, 500)
			}, 900);
			
		},
     format(el, att) {
          wys.formatBasic(el, att)
      },
      formatMore(ref, el, att) {
          // let item = opt == 'font' ? 'FontName' : 'FontSize' 
        var ele = this.$refs[ref]
        console.log(ele)
        var myFont = ele.options[ele.selectedIndex].value          
        console.log(myFont)
        wys.formatMore(el, att, myFont)
        ele.value = 0;
      },
      
      slider(el, ref) {
          let slider = this.$refs[ref].value
          let color = wys.hslToHex(slider, 100, 50)
          wys.setColor(el, color)
      },
      setEditable() {
          wys.editableFrame(this.el)
        //   wys.editableFrame(this.el2)
      }		
	}
}
</script>

<style lang="scss" scoped>
@import './oneLetter';
</style>
