<template>
  <div>
    <!-- <form>
    <label for="">Tag:</label>
    <input type="text" name="tag">
        <input type="file" name="image" @change="file"> 
        <button name="submit" @click.prevent="uploadFile">Upload</button>
    </form>     -->
    <div class="upload">
    <button @click="showUpload">Display</button>
        <div class="section" :class="{ reveal : show }">
            <input type="input" v-model="tag">
            <button @click="showImages">Show</button>
            <div id="images">
                <p v-for="(img, index) in allImages" :key="index">
                    {{ img.id }} {{ img.name }} {{ img.tag }} 
                    <img :src="'data:image/jpeg;base64,' + img.image">
                </p>
            </div>
            <div id="uploads"></div>
            <div class="dropzone" id="dropzone">Drop files here</div>  
        </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
      return {
        item: '',
        newImgId: '',
        allImages: '',
        tag: '',
        show: false
      }
  },
  methods: {
      showUpload() {
          if(this.show == true) {
              this.show = false
          } else {
              this.show = true
          }
      },
      file(e) {
          console.log(e);
          this.item = e.target.files[0]
        console.log(this.item, 'item')
        
      },
      uploadFile(file) {
          // $imageData = file_get_contents($_FILES["image"]["tmp_name"]);
          const fd = new FormData()
          fd.append('image', this.item)
          let all = {"submit": 1, "fd": this.item.name}
        //   console.log(all);
          
          axios.post('http://localhost/nazs/imageBlob/indexAPI.php', fd )
          .then(data => this.newImgId = data.data)
          .then(console.log(this.newImgId))
          
        //   console.log(this.attr);
          
      },

      showImages() {
          let tags = this.tag.split(',')
          axios.get('http://localhost/nazs/imageBlob/showImageAPI.php?tag=' + this.tag)
          .then(data => this.allImages = data.data)
          .then(console.log(this.allImages))

        //   axios.get('http://localhost/nazs/imageBlob/showImageAPI.php?id')
        //   .then(data => console.log(data.data))
        //   .then(data => console.log(data.data))
    
          
      }
  },
  
  mounted() {
    let dropzone = document.getElementById('dropzone')

    let upload = function(files) {
        let formData = new FormData(),
            xhr = new XMLHttpRequest(),
            x;

            // formData.append('file,')

            for(x = 0; x < files.length; x++) {
                formData.append('image', files[x])
            }

            // xhr.onload = function() {

            // }

            // xhr.open('post', 'http://localhost/nazs/imageBlob/indexAPI.php')
            // xhr.send(formData)
            axios.post('http://localhost/nazs/imageBlob/indexAPI.php', formData)
            // .then(data => console.log(data.data))
            
            

            
    }

    dropzone.ondrop = function(e) {
        e.preventDefault()
        this.className = 'dropzone'
        upload(e.dataTransfer.files);
        // uploadFile(e.dataTransfer.files)
        
    }
    dropzone.ondragover = function() {
        this.className = 'dropzone dragover'
        return false
    }

    dropzone.ondragleave = function() {
        this.className = 'dropzone'
        return false
    }
      
  }
}
</script>

<style lang="scss" scoped>
button {
    border: 1px solid rgb(116, 114, 114);
    padding: 5px;
    border-radius: 5px;
    outline: none;
    background-color: rgb(235, 231, 231);
    &:hover {
        background-color: rgb(204, 204, 204);
    }
}
.upload {
    width: 300px;
    margin: 0 auto;
}
        .section {
            display: none;
        }
.reveal {
    display: block;
}
.dropzone {
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    display: block;
    // margin: 20px auto;
    padding: 10px;
}

.dropzone.dragover {
    border-color: #000;
}

img {
    display: block;
    width: 200px;
    border-radius: 15px;
}

</style>


