<template>
    <div class="eWrapper"> 
        <h4>WYSIWYG editor</h4>
        <div class="formatting">
            <div class="selects">
                <button @click.prevent="format('richTextField', 'bold')"><i class="material-icons">&#xE238;</i></button>
                <button @click.prevent="format('richTextField', 'italic')"><i class="material-icons">&#xE23F;</i></button>
                <button @click.prevent="format('richTextField', 'underline')"><i class="material-icons">&#xE249;</i></button>
                <button @click.prevent="format('richTextField', 'insertunorderedlist')"><i class="material-icons">&#xE241;</i></button>
                <button @click.prevent="format('richTextField', 'insertorderedlist')"><i class="material-icons">&#xE242;</i></button>
            </div>
            <!-- <button @click="show"><i class="material-icons">&#xE163;</i></button> -->
            <!-- <button @click.prevent="format('richTextField', 'foreColor')"><i class="material-icons">&#xE167;</i></button> -->
            <!-- <input type="color"> -->
     
            <div class="selects">
              <select ref="FontName" @change="formatMore('FontName','richTextField', 'FontName')">
                  <option value="0">Change Font</option>
                  <template v-for="(font, index) in fontNames">
                      <option :value="font.name" :key="index" class="fonts" :class="font.key">{{ font.name }}</option>
                  </template>
              </select>
              <select ref="FontSize" @change="formatMore('FontSize','richTextField', 'FontSize')">
                  <option value="0">Font Size</option>
                  <template v-for="(size, index) in fontUnit">
                      <option :value="size.name" :key="index" class="fonts" :class="size.key">{{ size.name }}</option>
                  </template>
              </select>
            </div>
            <!-- <div class="hue">
                <input type="range" min="1" max="300" value="130" @change="slider('richTextField', 'slider')" ref="slider">
            </div> -->
        </div>
        <textarea  style="display:none;font-family:Courier" name="myTextArea" id="myTextArea" cols="30" rows="5"></textarea> 
        <iframe frameborder="1" name="richTextField" id="richTextField" ref="richTextField"
        class="myFrame2"
        ></iframe>         

        <h4>Data persistence API</h4>
        <form id="persist">
            <fieldset>
                <label for="">First name</label>
                <input type="text">
            </fieldset>
            <fieldset>
                <label for="">Last name</label>
                <input type="text">
            </fieldset>
            <fieldset>
                <label for="">Email</label>
                <input type="Email">
            </fieldset>
            <fieldset>
                <label for="">Postcode</label>
                <input type="text">
            </fieldset>
                <button @click="" style="float:right">Submit</button>
        </form>
    </div>  
</template>

<script>
import wys from '../../functions/wysiwyg'
export default {
  data() {
      return {
          el: '',
          fontNames: wys.fontNames,
          fontUnit: wys.fontUnit
      }
  },

      mounted() {
        //   console.log(this.$refs)

        this.el = this.$refs.richTextField.name  
        setTimeout( () => { this.setEditable() }, 1000);      

      },
  methods: {
      removeStorage() {
          localStorage.removeItem("permission")
        //   this.allow = false
      },


      clearFrame() {
          setTimeout( () => {
              this.log.topic = ''
              document.getElementById(this.el).contentDocument.body.innerHTML = ''
          }, 1000)
      },

      forIE() {
          // this.$refs.forIE.style.display = "block";
        let el = this.$refs.forIE.id
        document.getElementById(el).contentDocument.body.style.display = "block";
      },
      format(el, att) {
          wys.formatBasic(el, att)
      },
      formatMore(ref, el, att) {
        var ele = this.$refs[ref]
        console.log(ele)
        var myFont = ele.options[ele.selectedIndex].value          
        console.log(myFont)
        wys.formatMore(el, att, myFont)
        ele.value = 0;
      },
      
      slider(el, ref) {
          let slider = this.$refs[ref].value
          let color = wys.hslToHex(slider, 100, 50)
          wys.setColor(el, color)
      },
      setEditable() {
          wys.editableFrame(this.el)
      }
  }
}
</script>

<style lang="scss" scoped>
@import './wys.scss';
html body  {
    background: #000;
    // height: 100vh;
}
div.eWrapper {
    // display: flex;
    // justify-content: center;
    // align-items: center;

    iframe, select, div {
        background-color: #ddd;
        border-radius: 5px;
    }
    iframe, div {
        // border: 1px solid #999;
    }
}
form#persist {
    // display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 0px solid #ddd;
    width: 50%;
    padding: 0;
    fieldset {
        border: 0px solid #ddd;
        width: 100%;
        margin: 0 auto;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        label {
            width: 22%;
            text-align: right;
        }
        label, input {
            background-color: #fff;
            // width: 50%;
        }
        input {
            width: 75%;
            float: right;
            border: 1px solid #ddd;
        }
    }
    @media (min-width: 550px) {
        max-width: 550px;
    }
}
</style>
