.arial {
    font-family: Arial
}
.courier {
    font-family: Courier
}
.georgia {
    font-family: Georgia
}
.helvetica {
    font-family: Helvetica;
}
.impact {
    font-family: Impact;
}
.tahoma {
    font-family: Tahoma;
}
.verdana {
    font-family: Verdana;
}
.times {
    font-family: 'Times New Roman';
}
.fonts {
    font-size: 16px;
}
.selects {
    display: block;
}
.two {
    font-size: 12p2;
}
.three {
    font-size: 14px;
}
.four {
    font-size: 16px;
}
.five {
    font-size: 18px;
}
.six {
    font-size: 20px;
}
.seven {
    font-size: 22px;
}

select {
    background-color: rgb(185, 213, 250);
    color: rgb(33, 81, 145);
    padding: 5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    // border-radius: 7px;
    outline: none;
    border: 1px solid rgb(142, 162, 241);
    option {
        background-color: rgb(185, 213, 250);
        // padding: 15px;
        // margin: 5px;
    }
}
.eWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.formatting {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 7px;
    margin: 7px;
}
.formatting, iframe {
    border-radius: 10px;
    background-color: rgb(205, 226, 253);
    border: 1px solid rgb(155, 169, 238);
    color: red;

}
iframe {
    display: flex;
    flex-basis: 300px;
    width: 90%;
    outline: none;
    margin: 5px 0;
}