html, body, #app {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
}
a.router-link-exact-active, a.router-link-exact-active li  {
  // default values -- $col: #fff, $bgcol: #cc
  @include exact-link(#000, lightgrey);
  width: 100%;
  display: block;
  // border-radius: 4px;
}
.wrapper {
  flex: 1 0 auto;
  // display: flex;
  // flex-direction: column;
  // flex-direction: column;
}
header {
  height: 40px;
}

.start {
  padding-top: 40px;
}

.landing {
  h4, h5 {
    // letter-spacing: 12px!important;
    font-family: monospace;
  }
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-color: #fff;
  background-position: top center;
  div {
    // position: absolute;
    // top: 20%;
    padding: 10px 20px;
    @media only screen and (min-width: 660px) {
      margin-right: 3em;
    }
    background-color: rgba(0,0,0,.3);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
  h4, h5, h6 {
    letter-spacing: 5px;
  }
  h6 {
    // font-family: Courier;
    font-size: 1.2em;
    // letter-spacing: 3px;
  }
  h4, h5, h6 {
    color: #fff;
  }
  p {
    color: #fff;
    font-style: italic;
    text-align: right;
    letter-spacing: 3px;
    font-family: helvetica;
  }
  
  &:after {
    // content: "\2193";
    content: " ";
    white-space: pre;
  }  
}
.shorter {
  height: 100%;
  // margin-bottom: 10px;
}
section {
  // height: 3vh;
  // background: #000;
  // border-top: 1px solid #333;
  // border-bottom: 1px solid #333;
}
footer {
  border-top: 2px solid #000;
  // height: 25vh;
  background: #333;
  color: #ccc;
  letter-spacing: 0px;
  // line-height: 4vh;
  padding: 15px 20px;
  font-family: monospace;
  span {
    float: right;
  }
  transition: .9s;
  @media (min-width:500px) {
    // height: 10vh;
    letter-spacing: 2px;
  }
  @media (min-width:717) {
    // line-height: 10vh;
    // bobbie
  }
}

nav {
  position: fixed;
  display: flex;
  background-color: #000;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid #666;
  @media print {
    display: none !important;
  }
}
nav ul, nav ul li, a {
  margin: 0;
  padding: 0;
}

.default2 a {
  background-color: #000;
  // color: #fff;
}

@media only screen and (max-width: 559px) {
  nav li a {
    // color: red;
  }
  a.header {
    cursor: default;
  }
  .has-children ul {
    a {
      padding-left: 2em;
    }
  }
  a.router-link-exact-active, a.router-link-exact-active li a  {
    display: none;
    @include exact-link(#000, lightgrey);
  }

  ul li a {
    transition:  5s;
    display: none;
  }
  li a {
    padding: .8rem;
  }
  ul li.icon a {
    padding: .2rem;
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    &:hover {
      background-color: #333;
    }
    &:focus {
      background-color: #333;
    }
  }

  li.has-child ul li  {
    // display: block;
    width: 100%;
    padding: 0;
    a {
      &:hover {
        background-color: purple;
      }
    }
  }

  .responsive {
    // position: fixed;
    a:hover {
      text-decoration: none;
      color: #000;
    }
    // z-index: 999;
    width: 100%;
    li  {
      &:hover {
        background-color: #ccc;
      }
      a {
        display: block;
        width: 100%;
        transition:  5s;
      }
    }
    li.has-children {
      &:hover {
        background-color: #000;
      }
      a {
        color: #666;
        font-style: italic;
        cursor:default;
        &:hover {
          // color: #000;
          // background-color: #000;
        }
      }
    }
    .has-children ul li {
      &:hover {
        background-color: #ccc;
      }
      a {
        // background-color: #ccc;
        font-style: normal;
        color: #fff;
        &:hover {
          cursor: pointer;
          // background-color: #000;
          color: #000;
        }
      }
    }

    li.icon a{
      // background-color: blue;
      color: #fff;
      &:hover {
        background-color: #333;
        color: #ccc;
      }
      &:focus {
        background-color: #000;
      }
    }
  } // responsive


  nav ul li {
    display: block;
    width: 100%;
    &:hover {
      background-color: #333;
      text-decoration: none;
    }
    a {
      color: #fff;
      &:focus {
        background-color: #333;
        color: #000;
      }
    }
  }
  nav ul li.icon {
    &:hover {
      // background-color: red;
    }
    a {
      text-decoration: none;
      width: 100%;
      text-align: center;
      display: block;
      color: #fff;
      padding: .2rem;
      &:focus {
        background-color: #000;
        // color: #000;
      }
    }
  }

}
@media only screen and (min-width: 560px) {
  .arrow {
    font-family: FontAwesome;
    float: right;
    margin-right: 3rem;
  }
  .arrow-down::after {
    content: "\f107";
  }
  nav ul li {
    display: block;
    width: 100%;
    a {
      color: #fff;
      &:hover, &:focus {
        text-decoration: none;
        background-color: lightgrey;
        color: #000;
      }
    }
  }
  nav ul{
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul li {
    position: relative;
    // flex: 1 0 auto;
  }
  nav {
    height: 40px;
    line-height: 40px;

    // display: block;
    ul {
      // position: relative;
      // display: flex;
      .has-children li a {
        text-align: left;
        padding-left: 3rem;
      }
      li {
        // position: absolute;
        // padding: 0 15px;
        // text-align: center;
        a {
          padding-left: 2rem;
          display: block;
          width: 100%;

        }
      }
    }
  }
  .has-children ul {
    // flex-direction: column;
    display: none;
  }
  nav ul li:hover ul {
    display: flex;
    flex-direction: column;
  }
  .afterHover {
    ul li {
      display: none;
    }
  }
  li.has-children ul {
    // position: absolute;
    // position: fixed;
    // position: static;
    // position: relative;
  }
  nav li  {
    // background-color: red;
    &:hover {
      background-color: #333;
    }
  }
  #ul {
    // position: relative;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  li.icon {
    display: none;
  }

}
@media only screen and (min-width: 800px) {
  #app {

    nav {
    }
    nav>ul {
      margin: 0 auto;
      width: 700px;
    }

  }
}
p#preview {
  padding: 10px;
  margin-left: 30px;
  ul {
    display: block;
    li {
      list-style: none
    }  
  }
}