<template>
  <div id="app">
    <div class="wrapper">

      <nav>
        <!-- <span id="menu">MENU</span> -->
        <ul :class="{ responsive : show }">

          <li @click="show = false">
            <router-link to="/" exact>Home</router-link>
          </li>

          <li class="has-children" :class="{ afterHover : hideUL}"
            @mouseover = "hideUL = false"
          ><a href="#" >Projects
            <span class="arrow arrow-down"></span>
            </a>
            <ul>
              <!-- <li @click="hide">
                <router-link to="/sample" exact>Restaurant Menu</router-link>
              </li> -->
              <li @click="hide">
                <router-link to="/noRobots" exact>NoRobot</router-link>
              </li>
            <li @click="show = false">
              <router-link to="/sample" exact>Sample</router-link>
            </li>              
              <li @click="hide">
                <!-- <router-link to="/holiday" exact>Holiday</router-link> -->
                <a href="https://nazs.net/holiday">Holiday</a>
              </li>
              <li @click="hide">
                <router-link to="/ccna" exact>RunningConfig</router-link>
              </li>
              <li @click="hide" v-if="this.$store.state.local == true">
                <router-link to="/bob" exact>Elm</router-link>
              </li>
              <!-- <li @click="hide">
                <router-link to="/layouts" exact>Layouts</router-link>
              </li> -->
            </ul>
          </li>
          <li @click="show = false">
            <router-link to="/obsession" exact>Clone Stamp</router-link>
          </li>
          <li @click="show = false">
            <router-link to="/cv" exact>CV</router-link>
          </li>

          <!-- <li class="has-children"><a href="#">Obsession
            <span class="arrow arrow-down"></span>
            </a>
            <ul>
              <li @click="show = false">
                <router-link to="/clone" exact>Clone Stamp</router-link>
              </li>
              <li @click="show = false">
                <router-link to="/noRobots" exact>Contact</router-link>
              </li>
            </ul>
          </li> -->
          <li class="icon" :class="{ default2 : hideUL }" @click="hide2"
            ><a href="#" ref="trigg"  @click="hide">&#x2744;</a></li>
        </ul>

      </nav>
      <header></header>

      <router-view></router-view>

    </div>

      <footer>&#169; 2017 Nazs.Net | Resources and such... <span></span></footer>
  </div>

</template>

<script>
// import header from './components/header.vue'
// import footer from './components/footer.vue'
// import booking from './components/booking.vue'
// import start from './components/start.vue'
// import sample from './components/menus/restaurant.vue'
import {mapGetters} from 'vuex'
export default {
  components : {
    // 'app-header': header,
    // 'app-footer': footer,
    // 'app-booking': booking,
    // 'app-sample': sample
    // 'app-start': start
  },
  data () {
    return {
      show: false,
      hideUL: false,
      default: false
    }
  },
  computed: {
    ...mapGetters([])
  },
  methods: {
    hide() {
      this.show = !this.show
      this.hideUL = true
      console.log('message ' + this.hideUL) // testing ignoring semi-colon
      // console.log(this.$refs.outer;
    },
    hide2() {
      this.default = true;
      console.log();
      
    },
    logIn() {

    },
    getMenus() {
        var t = this.$store.state;
        this.$http.get(t.url + 'all').then(function(data){
          this.$store.commit('setMenus', data.body);
          // console.log(data.body);
      });
    }
  },
  created() {
    var t = this.$store.state;
    this.$store.commit('setUrl');
    this.getMenus();

  }
}
</script>

<style lang="scss">
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css");
@import '../node_modules/vuetify/dist/vuetify.min.css';
@import "style";
@import './App.scss'
</style>
