// @import "../../bower_components/breakpoint-sass/stylesheets/breakpoint";
// @import "../../bower_components/susy/sass/susy";
@import "../../mixins/base";
// @import "../node_modules/vuetify/dist/vuetify.min.css";
$susy: (
  columns: 12,
  gutters: 20,
  math: fluid,
  output: float,
  gutter-position: inside,
);
$banner : lighten(#1D4E5E,10);
$green1: #D4EBF2;
$green1a: darken(#D4EBF2, 5);


i.nolink:hover {
    cursor: default;
}
table {
  margin-bottom: 20px;
}
main {
  .menu {
    @include push--auto(100%);
    table {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 7px;
      background: none;
      padding: 10px;
      margin-bottom: 10px;

      @media (min-width: 650px) {
      // @include breakpoint(650px) {
        width: 600px;
      }
      caption {
        font-size: 1em;
      }
      tr {
        &:hover { background: lighten(#ccc, 10)}
        height: 3em;
        &:nth-child(odd) { background: lighten(lightblue,10)}
      }
      td {
        vertical-align: middle;
        // background: none;
      }
    }
  .price {
    // vertical-align: middle;
    width: 100px;
    color: red;

  }

    a {
      &:link {
        color: $banner;
      }
      &:hover {
        background: lightgray;
        border-radius: 10px;
      }
      // &:active {
      //   background: $banner;
      //   color: #fff;
      // }
    }
  }
}

.cart {
  width: 95%;
  padding: 0 10px;
  .closeBill {
    padding-top: 12px;
  }
  // a i {
  //   margin-top: 1px;
  //   span {
  //
  //   }
  // }
  width: 100%;
  margin: 0 auto;
  text-align: left;
  table {
    text-align: left;
    border: 0px solid;
    background: lighten(#999, 30);
    width: 95%;
    margin: 0 auto;
    // border-radius: 10px;
    tr:nth-child(odd) {
      background: lighten(#999, 35);
    }
    td {
      padding: 10px;
      div {
        margin: 10px 0 0 10px;
        word-spacing: 1em;
        // letter-spacing: 0.5em;
      }
    }
    margin-bottom: 10px;
  }
  @media (min-width:700px) {
  // @include breakpoint(700px) {
    @include push--auto(75%);
  }

  div {
    p {
      i {
        font-size: 2.1em;
        cursor: pointer;
        font-style: normal;
        padding-right: 10px;
      }
      border: 0px solid #999;
      border-radius: 10px;
      padding: 0px;
      span {
        display: block;
        font-family: monospace;
        padding-left: 0px;
        &:after, &:before {
          content: "\2002\2002"
        }
      }
      .subTotal {
        float: right;
        margin-top: -20px;
      }
    }
  }
  section {
    float: right;
    padding-top: 10px;
    font-size: 1.1em;
    font-family: monospace;
  }
}

[type=button].disable {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
  text-decoration: line-through;
  // background: #ADD8E6;
}

form {
  @include push--auto(95%);
  background: lightblue;
  border-radius: 7px;
  margin-top: 10px;
  padding: 20px;
  text-align: left;
}
.badge {
  padding: 0;
}
caption {
  caption-side: top;
}
.application--light {
  background: none;
}
.application {
  min-height: inherit;
}
table {
  .price {
    // color: blue;
    width: 100px;
  }
}

.modalc {
  form {
    background-color: #fff;
  }
  position: fixed;
  // background-color: #fff;
  // border: 1px solid #000;
  top: 40%;
  width: 80%;
  max-width: 400px;
  left: 50%;
  padding: 20px;
  border-radius: 5px;

  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 102;
}

.modal2:before {
  content: "";
  position: fixed;
  // display: none;
  background-color: rgba(0,0,0,.7);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 101;
}
